// COLOR LIST
// -------------------

$cyan:  	            	#7FDBFF;
$blue:  	            	#0074D9;
$navy:  	            	#001F3F;
$teal:  	            	#39CCCC;
$green: 	            	#2ECC40;
$olive: 	            	#3D9970;
$lime:  	            	#01FF70;
$yellow:               	#FFDC00;
$orange:               	#FF851B;
$red:                  	#FF4136;
$magenta:              	#F012BE;
$purple:               	#B10DC9;
$maroon:               	#85144B;
$white:  	             	#FFF;
$black:  	             	#222;
$gray-darker:           lighten(#000, 13.5%) !default; // #222
$gray-dark:             lighten(#000, 20%) !default;   // #333
$gray:                  lighten(#000, 33.5%) !default; // #555
$gray-light:            lighten(#000, 46.7%) !default; // #777
$gray-lighter:          lighten(#000, 93.5%) !default; // #eee
// <-- Add a custom color here, and also in the list below


// Add a class color name and reference the variable name from
// the COLOR LIST to add color classes to text, links, buttons, etc.

$colors: (
  'navy': 			$navy,
  'blue': 			$blue,
  'cyan': 			$cyan,
  'teal': 			$teal,
  'olive': 			$olive,
  'green': 			$green,
  'lime': 			$lime,
  'yellow': 		$yellow,
  'orange': 		$orange,
  'red': 			  $red,
  'magenta': 		$magenta,
  'purple': 		$purple,
  'maroon': 		$maroon,
  'white': 			$white,
  'gray': 			$gray,
  'silver':			$gray-lighter,
  'black': 			$black
);


/*
-----------------------
  CUSTOM BUTTON COLORS
-----------------------
*/

@each $color, $color-value in ($colors) {
  .btn-#{$color} {
    background-color: $color-value;
    color: $white;
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-color: darken($color-value, 8%);
      text-decoration: none;
      color: $white;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-image: none;
      color: $white;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &,
      &:hover,
      &:focus,
      &:active,
      &.active {
        background-color: $color-value;
        color: $white;
      }
    }
    .badge {
      background-color: $color-value;
    }
  }
}

/*
-----------------------
    CUSTOM BG COLORS
-----------------------
*/

/* Background Colors */
@each $color, $color-value in ($colors) {
  .bg-#{$color} {
    background-color: adjust-color($color-value, $lightness: 30%, $saturation: -20%);
    padding:rem(15px);
    &.bg-indent {
      border-left: rem(5px) solid $color-value;
    }
  }
}

/*
-----------------------
CUSTOM TEXT/LINK COLORS
-----------------------
*/


@each $color, $color-value in ($colors) {
  .text-#{$color}, a.text-#{$color} {
    color: $color-value !important;
  }
}

@each $color, $color-value in ($colors) {
  a.text-#{$color}:hover,  a.text-#{$color}:focus{
    color: darken($color-value, 12%) !important;
  }
}

/*
-----------------------
  CUSTOM BADGE COLORS
-----------------------
*/

@each $color, $color-value in ($colors) {
  .badge-#{$color}{
      background-color: $color;
    }
}


/*
-----------------------
  CUSTOM LABEL COLORS
-----------------------
*/

@each $color, $color-value in ($colors) {
  .label-#{$color}{
      background-color: $color-value;
    }
    a.label-#{$color}{
      &:hover,
      &:focus {
        background-color: darken($color-value, 10%);
      }
    }
}
