// Pills or Tabs

.nav > li > a {
  color: $nav-link;
  background-color: $nav-link-bg;
}
.nav > li > a:hover,
.nav > li > a:focus {
  color: $nav-link-hover;
  background-color: $nav-link-bg-hover;
}
.nav-tabs {
  border-bottom: 1px solid $nav-tab-border;
}
.nav-tabs > li > a {
  border-bottom: 0;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
  border-bottom: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $nav-tab-link-active;
  background-color: $nav-tab-active-bg;
  border: 1px solid $nav-tab-border;
  border-bottom-color: transparent;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: $nav-link-hover;
  background-color: $nav-link-bg-hover;
}


//Navbar


.navbar-default {
  background-color: $navbar-default-bg;
  border-color: darken($navbar-default-bg, 15%);
}

.navbar-default .navbar-brand {
  color: $navbar-default-brand;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $navbar-default-brand-hover;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: $navbar-default-text;
}
.navbar-default .navbar-nav > li > a {
  color: $navbar-default-link;
  background-color: $navbar-default-link-bg;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $navbar-default-link-hover;
  background-color: $navbar-default-link-bg;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $navbar-default-link-active;
  background-color: darken($navbar-default-bg, 15%);
}

.navbar-default .navbar-toggle {
  border-color: $navbar-toggle;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $navbar-toggle-hover;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: darken($navbar-toggle-hover, 15%);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: darken($navbar-default-bg, 15%);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $navbar-default-link-active;
  background-color: darken($navbar-default-bg, 15%);
}

.navbar-default .navbar-link {
  color: $navbar-default-link;
}
.navbar-default .navbar-link:hover {
  color: $navbar-default-link-hover;
}
.navbar-default .btn-link {
  color: $navbar-default-btn;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: darken($navbar-default-btn, 8%);
}
