div.price-table {
  margin:20px 0;
  ul {
    list-style:none;
    padding: 0;
  }
  .columns {
    padding:0;
    margin:0;
  }
  .three-col {
    width:33.3334%;
  }
  .four-col {
    width:25%;
  }
  .two-col {
    width:50%;
  }
  .three-col, .two-col, .four-col {
    float:left;
    min-height:1px;
    @media screen and (max-width:768px){
      width:100%;
    }
  }
  ul.pricing {
    text-align:center;
    border:1px solid darken($priceTableColor, 7%);
    margin-bottom:0;
  }
  li.title {
    background:$priceTableColor;
    padding: 15px;
    font-size:16px;
    font-weight:bold;
  }
  li.price {
    background:lighten($priceTableColor, 15%);
    padding:20px;
    font-size:24px;
    font-weight:300;
  }
  li.desc{
    padding:15px;
    background:$white;
    font-size:12px;
    font-weight:300;
    border-bottom:1px solid darken($priceTableColor, 7%);
  }
  li.bullet {
    padding:12px;
    font-size:14px;
    font-weight:400;
    border-bottom:1px solid darken($priceTableColor, 7%);
  }
  li.choose {
    background:lighten($priceTableColor, 15%);
    padding:20px;
  }
  @media screen and (min-width:768px){
    ul.first-price {
      border-right:0;
    }
    ul.last-price {
      border-left:0;
    }
  }
  div.recommended {
    box-shadow: 0 0 10px rgba(0,0,0,0.25); position: relative; z-index: 2;
  }
}
