// Template 4

body {
  font-family: $font-family-sans-serif;
  background-color: $background-color;
  color: $text-color;
  background: $t4-bg-img no-repeat center center fixed;
  -moz-background-size: cover;
  background-size: cover;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .container {
    max-width: 980px;
  }
}
.navbar.navbar-inverse {
  background-color: $t4-nav-color;
  border-color: darken($t4-nav-color, 10%);
  .container {
    @media screen and (max-width: 768px){
      padding-right: 0;
    }
  }
}

.navbar-header {
  float:left !important;
}

.navbar-right {
  float:right !important;
}
.navbar-inverse .navbar-nav {
  margin: 0;
  >li {
    float:left !important;
    border-right: 1px solid lighten($t4-nav-color, 10%);
    &:last-child {
      border-right: 1px solid transparent;
    }
    &:hover, &:focus {
      background: lighten($t4-nav-color, 8%);
    }
    >a {
      padding-top: 15px;
      padding-bottom: 15px;
      color: $t4-nav-text-color;
      &:hover, &:focus {
        color: darken($t4-nav-text-color, 10%);
      }
    }
  }
}
#main .container {
  padding:40px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);   /* IE6 & 7 */
        zoom: 1;
  background:rgba(255,255,255,0.7);
}
