// Template 1
// --------------------


body {
  padding-bottom: 40px;
  font-family: $font-family-sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin-top: 50px;
}


.navbar.navbar-inverse {
  background-color: $t1-nav-color;
  border-color: darken($t1-nav-color, 10%);
}

.navbar-header {
  float:left !important;
}

.navbar-right {
  float:right !important;
}
.navbar-inverse .navbar-nav {
  margin: 0;
  >li {
    float:left !important;
    >a {
      padding-top: 15px;
      padding-bottom: 15px;
      color: $t1-nav-text-color;
      &:hover, &:focus {
        color: darken($t1-nav-text-color, 10%);
      }
    }
  }
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
  .item {
    height: 500px;
    background-color: #777;
  }
}

.carousel-caption {
  z-index: 10;
}

.carousel-inner > .item > img {
  margin: auto;
  min-width: 100%;
  max-width: none;
  min-height: 100%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}


.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
  h2 {
    font-weight: normal;
  }
  p {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.featurette-divider {
  margin: 80px 0;
}


@media (min-width: 768px) {

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}


// Template 1 Ver B

.top-img {
  height: 450px;
  margin-bottom: 50px;
  background: url('../img/t1-7.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dbl-bdr {
  position:relative;
  margin-bottom: 8px;
  padding: 6px;
  border:1px solid #444;
  background: $background-color;
  }
