// Template 6

body {
  background-color: $background-color;
  background: $t6-bg-img;
  font-family: $font-family-sans-serif;
  color: $text-color;
  @media screen and (max-width:768px){
    padding-top:150px;
  }
  padding-top:170px;
}
#logoBar {
  position: 		fixed;
  right: 			0;
  left: 			0;
  top:			0;
  z-index: 		1100;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  overflow:hidden;
  background: $t6-top-bg repeat-x;
  img {
    margin: 0 auto;
  }
}
.footer {
  font-size:14px;
  padding: 10px 0 20px;
  span {
    margin-right:10px;
  }
}

#body .container {
    @media (min-width: 768px) {
    max-width: 640px;
  }
}
