// Utility classes
// --------------------------------------------------

.float-left     { float: left  !important; }
.float-right    { float: right !important; }

.align-left     { text-align: left   !important; }
.align-center   { text-align: center !important; }
.align-right    { text-align: right  !important; }

// Margins and Padding
// -------------------------

.ma0            { margin:        0   !important; }
.ma1            { margin:        1em !important; }
.ma2            { margin:        2em !important; }
.mt0            { margin-top:    0   !important; }
.mt1            { margin-top:    1em !important; }
.mt2            { margin-top:    2em !important; }
.mb0            { margin-bottom: 0   !important; }
.mb1            { margin-bottom: 1em !important; }
.mb2            { margin-bottom: 2em !important; }
.ml1            { margin-left:   1em !important; }
.ml2            { margin-left:   2em !important; }
.mr1            { margin-right:  1em !important; }
.mr2            { margin-right:  2em !important; }

.pa0            { padding:        0   !important; }
.pa1            { padding:        1em !important; }
.pa2            { padding:        2em !important; }
.pt0            { padding-top:    0   !important; }
.pt1            { padding-top:    1em !important; }
.pt2            { padding-top:    2em !important; }
.pb0            { padding-bottom: 0   !important; }
.pb1            { padding-bottom: 1em !important; }
.pb2            { padding-bottom: 2em !important; }
.pl1            { padding-left:   1em !important; }
.pl2            { padding-left:   2em !important; }
.pr1            { padding-right:  1em !important; }
.pr2            { padding-right:  2em !important; }

// Type
// ------------------------

p, span {
  &.xlarge {
    font-size: 14px * 1.25;
    line-height: 1.4 * 1.4;
  }
  &.large {
    font-size: 14px * 1.1428;
    line-height: 1.4 * 1.2;
  }
  &.small {
    font-size: 14px * 0.857;
  }
}


.mega {
  font-size: 6em;
  @media screen and (max-width:768px){
    font-size: 3.5em;
  }
}
.giga {
  font-size: 8em;
  @media screen and (max-width:768px){
    font-size: 4em;
  }
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
.light {
  font-weight: 300;
}
.semi-bold {
  font-weight: 600;
}
.normal {
  font-weight: 400;
}
.spacing {
  letter-spacing: 3px;
  word-spacing: 5px;
}
.underline {
  text-decoration:underline;
}
.caps {
  text-transform: uppercase;
}
.fancy:before {
  content: "\274B  ";
  font-size: inherit;
  color:inherit;
}
.req:after {
  content: " *";
  color: $red;
}
.arrow:after {
  content: " \279E";
}


.utf8 { font-family: "Lucida Grande", "Arial Unicode MS", sans-serif; }
.mono { font-family: $font-family-monospace; }
.sans-serif { font-family: $font-family-sans-serif;}
.serif { font-family: $font-family-serif; }
