/*
-----------------------
        COLORS
-----------------------
*/

// Go into _colors.scss to add custom colors.
@import "colors";


/*
-----------------------
     CUSTOM STYLES
-----------------------
*/

// (Un-comment the specific template code you wish to use)

// OVERALL STYLE CHANGES
// ---------------------

$background-color: #FEFEFE;
$text-color: #5a5a5a;
$font-family-serif: "Roboto Slab", "Georgia", "Times", "Times New Roman", serif;
$font-family-sans-serif: "Oxygen", "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Feature Settings

$priceTableColor: #ccc;
$captionBgColor: rgba(0, 0, 0, 0.8);
$captionTextColor: $white;

// Nav Settings
// ------------

// Nav-tab and pill settings

$nav-link: $teal;
$nav-link-hover: $white;
$nav-link-bg: $white;
$nav-link-bg-hover: $teal;

$nav-tab-border: $gray-lighter;
$nav-tab-link-active: lighten($black, 10%);
$nav-tab-active-bg: $white;


// Navbar settings, only applying to navbar class use.
// Use classes 'navbar' and 'navbar-default' only.

$navbar-default-bg: $gray-lighter;
$navbar-default-brand: $black;
$navbar-default-brand-hover: lighten($black, 10%);
$navbar-default-text: lighten($black, 15%); // Non-link, non-logo text
$navbar-default-link: $gray;
$navbar-default-link-bg: $navbar-default-bg;
$navbar-default-link-hover: darken($gray, 15%);
$navbar-default-link-hover-bg: $navbar-default-bg;
$navbar-default-link-active: lighten($gray, 5%); // When a link has a class of .active
$navbar-toggle: darken($navbar-default-bg, 25%); //mobile toggle menu btn border
$navbar-toggle-hover: darken($gray-lighter, 15%);
$navbar-default-btn: $gray;


/*
TEMPLATE 1
---------------------
*/

// $t1-nav-color:  #222;
// $t1-nav-text-color: #F2f2f2;
// @import "template1";


/*
TEMPLATE 2
---------------------
*/

// $brand-color: $white;
// $t2-bg-img: url('../img/t2-header.jpg') no-repeat;
// @import "template2";


/*
TEMPLATE 3
---------------------
*/

// $t3-bg-img: url('../img/t3-bg.png');
// $t3-form-bg: $gray-lighter;
// @import "template3";


/*
TEMPLATE 4
---------------------
*/

// $t4-nav-color:  #001f3f;
// $t4-nav-text-color: #F2f2f2;
// $t4-bg-img: url(../img/t4-bg.jpg);
// @import "template4";


/*
TEMPLATE 5
---------------------
*/

// $t5-link-color: $white;
// $t5-text-color: $white;
// $t5-bg-img: url('../img/t5-bg.jpg');
// @import "template5";


/*
TEMPLATE 6
---------------------
*/

// $t6-bg-img: url('../img/t6-bg.png');
// $t6-top-bg: url('../img/t6-topbg.png');
// @import "template6";



/*
TEMPLATE 7
---------------------
*/

// $t7-bg-img: url('../img/t7-bg.png');
// @import "template7";


/*
TEMPLATE 8 (MOBILE FIRST)
---------------------
*/

// $t8-bg-img: url('../img/t6-topbg.png');
// $t8-container-bg: #f2f2f2;
// @import "template8";

/*
CUSTOM TEMPLATE
---------------------
*/

// Insert your own CSS additions and overwrites below:


/*
-----------------------
   UTILTIES/FEATURES
-----------------------
*/

// If you wish to use animation,
// add animate.css as a stylesheet link in your page.


@import "utilities";
@import "price";
@import "captions";
@import "form";
@import "nav";
@import "map";
