/*
Adapted from GridBot + StyleBot
(c) 2014 lucaspark
Licensed Under the MIT License.
https://github.com/lucaspark/gridbot
*/
/* 
--------------------
RESET EVERYTHING 
-------------------- 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
--------------------
COLOR FUNCTIONS
-------------------- 
*/
/* Text Colors */
.text-navy, a.text-navy {
  color: #001f3f !important; }

.text-blue, a.text-blue {
  color: #0074d9 !important; }

.text-cyan, a.text-cyan {
  color: #7fdbff !important; }

.text-teal, a.text-teal {
  color: #39cccc !important; }

.text-olive, a.text-olive {
  color: #3d9970 !important; }

.text-green, a.text-green {
  color: #2ecc40 !important; }

.text-lime, a.text-lime {
  color: #01ff70 !important; }

.text-yellow, a.text-yellow {
  color: #ffdc00 !important; }

.text-orange, a.text-orange {
  color: #ff851b !important; }

.text-red, a.text-red {
  color: #ff4136 !important; }

.text-magenta, a.text-magenta {
  color: #f012be !important; }

.text-purple, a.text-purple {
  color: #b10dc9 !important; }

.text-maroon, a.text-maroon {
  color: #85144b !important; }

.text-white, a.text-white {
  color: white !important; }

.text-silver, a.text-silver {
  color: #dddddd !important; }

.text-gray, a.text-gray {
  color: #999999 !important; }

.text-black, a.text-black {
  color: #222222 !important; }

/* Link Colors */
a.text-navy:hover {
  color: #00060c !important; }

a.text-blue:hover {
  color: #0059a6 !important; }

a.text-cyan:hover {
  color: #4ccdff !important; }

a.text-teal:hover {
  color: #2ba7a7 !important; }

a.text-olive:hover {
  color: #2e7555 !important; }

a.text-green:hover {
  color: #25a233 !important; }

a.text-lime:hover {
  color: #00cd5a !important; }

a.text-yellow:hover {
  color: #ccb000 !important; }

a.text-orange:hover {
  color: #e76b00 !important; }

a.text-red:hover {
  color: #ff1103 !important; }

a.text-magenta:hover {
  color: #c30c9a !important; }

a.text-purple:hover {
  color: #870a99 !important; }

a.text-maroon:hover {
  color: #590d32 !important; }

a.text-white:hover {
  color: #e6e6e6 !important; }

a.text-silver:hover {
  color: #c4c4c4 !important; }

a.text-gray:hover {
  color: gray !important; }

a.text-black:hover {
  color: #090909 !important; }

/* Background Colors */
.bg-navy {
  background-color: #166bc2;
  padding: 0.9375rem; }
  .bg-navy.bg-indent {
    border-left: 0.3125rem solid #001f3f; }

.bg-blue {
  background-color: #81bdf1;
  padding: 0.9375rem; }
  .bg-blue.bg-indent {
    border-left: 0.3125rem solid #0074d9; }

.bg-cyan {
  background-color: white;
  padding: 0.9375rem; }
  .bg-cyan.bg-indent {
    border-left: 0.3125rem solid #7fdbff; }

.bg-teal {
  background-color: #bce2e2;
  padding: 0.9375rem; }
  .bg-teal.bg-indent {
    border-left: 0.3125rem solid #39cccc; }

.bg-olive {
  background-color: #a7c8b9;
  padding: 0.9375rem; }
  .bg-olive.bg-indent {
    border-left: 0.3125rem solid #3d9970; }

.bg-green {
  background-color: #b2e1b8;
  padding: 0.9375rem; }
  .bg-green.bg-indent {
    border-left: 0.3125rem solid #2ecc40; }

.bg-lime {
  background-color: #a4f5c7;
  padding: 0.9375rem; }
  .bg-lime.bg-indent {
    border-left: 0.3125rem solid #01ff70; }

.bg-yellow {
  background-color: #f5eaa3;
  padding: 0.9375rem; }
  .bg-yellow.bg-indent {
    border-left: 0.3125rem solid #ffdc00; }

.bg-orange {
  background-color: #f8d7bc;
  padding: 0.9375rem; }
  .bg-orange.bg-indent {
    border-left: 0.3125rem solid #ff851b; }

.bg-red {
  background-color: #fad6d4;
  padding: 0.9375rem; }
  .bg-red.bg-indent {
    border-left: 0.3125rem solid #ff4136; }

.bg-magenta {
  background-color: #eface0;
  padding: 0.9375rem; }
  .bg-magenta.bg-indent {
    border-left: 0.3125rem solid #f012be; }

.bg-purple {
  background-color: #dc87e8;
  padding: 0.9375rem; }
  .bg-purple.bg-indent {
    border-left: 0.3125rem solid #b10dc9; }

.bg-maroon {
  background-color: #d06298;
  padding: 0.9375rem; }
  .bg-maroon.bg-indent {
    border-left: 0.3125rem solid #85144b; }

.bg-white {
  background-color: white;
  padding: 0.9375rem; }
  .bg-white.bg-indent {
    border-left: 0.3125rem solid white; }

.bg-silver {
  background-color: white;
  padding: 0.9375rem; }
  .bg-silver.bg-indent {
    border-left: 0.3125rem solid #dddddd; }

.bg-gray {
  background-color: #e6e6e6;
  padding: 0.9375rem; }
  .bg-gray.bg-indent {
    border-left: 0.3125rem solid #999999; }

.bg-black {
  background-color: #6f6f6f;
  padding: 0.9375rem; }
  .bg-black.bg-indent {
    border-left: 0.3125rem solid #222222; }

/* Button Colors */
.btn-navy {
  background-color: #001f3f; }
  .btn-navy:hover, .btn-navy:focus, .btn-navy:active, .btn-navy.active {
    background-color: #000b16;
    text-decoration: none; }

.btn-blue {
  background-color: #0074d9; }
  .btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active {
    background-color: #005eb0;
    text-decoration: none; }

.btn-cyan {
  background-color: #7fdbff; }
  .btn-cyan:hover, .btn-cyan:focus, .btn-cyan:active, .btn-cyan.active {
    background-color: #56d0ff;
    text-decoration: none; }

.btn-teal {
  background-color: #39cccc; }
  .btn-teal:hover, .btn-teal:focus, .btn-teal:active, .btn-teal.active {
    background-color: #2dafaf;
    text-decoration: none; }

.btn-olive {
  background-color: #3d9970; }
  .btn-olive:hover, .btn-olive:focus, .btn-olive:active, .btn-olive.active {
    background-color: #317c5b;
    text-decoration: none; }

.btn-green {
  background-color: #2ecc40; }
  .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active {
    background-color: #26ab36;
    text-decoration: none; }

.btn-lime {
  background-color: #01ff70; }
  .btn-lime:hover, .btn-lime:focus, .btn-lime:active, .btn-lime.active {
    background-color: #00d75e;
    text-decoration: none; }

.btn-yellow {
  background-color: #ffdc00; }
  .btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active {
    background-color: #d6b900;
    text-decoration: none; }

.btn-orange {
  background-color: #ff851b; }
  .btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active {
    background-color: #f17000;
    text-decoration: none; }

.btn-red {
  background-color: #ff4136; }
  .btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
    background-color: #ff1a0d;
    text-decoration: none; }

.btn-magenta {
  background-color: #f012be; }
  .btn-magenta:hover, .btn-magenta:focus, .btn-magenta:active, .btn-magenta.active {
    background-color: #cc0da1;
    text-decoration: none; }

.btn-purple {
  background-color: #b10dc9; }
  .btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
    background-color: #8f0ba3;
    text-decoration: none; }

.btn-maroon {
  background-color: #85144b; }
  .btn-maroon:hover, .btn-maroon:focus, .btn-maroon:active, .btn-maroon.active {
    background-color: #620f37;
    text-decoration: none; }

.btn-white {
  background-color: white; }
  .btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active {
    background-color: #ebebeb;
    text-decoration: none; }

.btn-silver {
  background-color: #dddddd; }
  .btn-silver:hover, .btn-silver:focus, .btn-silver:active, .btn-silver.active {
    background-color: #c9c9c9;
    text-decoration: none; }

.btn-gray {
  background-color: #999999; }
  .btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active {
    background-color: #858585;
    text-decoration: none; }

.btn-black {
  background-color: #222222; }
  .btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active {
    background-color: #0e0e0e;
    text-decoration: none; }

/* Label Colors */
.label-navy {
  background: navy; }

.label-blue {
  background: blue; }

.label-cyan {
  background: cyan; }

.label-teal {
  background: teal; }

.label-olive {
  background: olive; }

.label-green {
  background: green; }

.label-lime {
  background: lime; }

.label-yellow {
  background: yellow; }

.label-orange {
  background: orange; }

.label-red {
  background: red; }

.label-magenta {
  background: magenta; }

.label-purple {
  background: purple; }

.label-maroon {
  background: maroon; }

.label-white {
  background: white; }

.label-silver {
  background: silver; }

.label-gray {
  background: gray; }

.label-black {
  background: black; }

/* Badge Colors */
.badge-navy {
  background: navy; }

.badge-blue {
  background: blue; }

.badge-cyan {
  background: cyan; }

.badge-teal {
  background: teal; }

.badge-olive {
  background: olive; }

.badge-green {
  background: green; }

.badge-lime {
  background: lime; }

.badge-yellow {
  background: yellow; }

.badge-orange {
  background: orange; }

.badge-red {
  background: red; }

.badge-magenta {
  background: magenta; }

.badge-purple {
  background: purple; }

.badge-maroon {
  background: maroon; }

.badge-white {
  background: white; }

.badge-silver {
  background: silver; }

.badge-gray {
  background: gray; }

.badge-black {
  background: black; }

/* Form Colors */
.form-navy {
  color: navy; }
  .form-navy input {
    border: 1px solid navy !important; }

.form-blue {
  color: blue; }
  .form-blue input {
    border: 1px solid blue !important; }

.form-cyan {
  color: cyan; }
  .form-cyan input {
    border: 1px solid cyan !important; }

.form-teal {
  color: teal; }
  .form-teal input {
    border: 1px solid teal !important; }

.form-olive {
  color: olive; }
  .form-olive input {
    border: 1px solid olive !important; }

.form-green {
  color: green; }
  .form-green input {
    border: 1px solid green !important; }

.form-lime {
  color: lime; }
  .form-lime input {
    border: 1px solid lime !important; }

.form-yellow {
  color: yellow; }
  .form-yellow input {
    border: 1px solid yellow !important; }

.form-orange {
  color: orange; }
  .form-orange input {
    border: 1px solid orange !important; }

.form-red {
  color: red; }
  .form-red input {
    border: 1px solid red !important; }

.form-magenta {
  color: magenta; }
  .form-magenta input {
    border: 1px solid magenta !important; }

.form-purple {
  color: purple; }
  .form-purple input {
    border: 1px solid purple !important; }

.form-maroon {
  color: maroon; }
  .form-maroon input {
    border: 1px solid maroon !important; }

.form-white {
  color: white; }
  .form-white input {
    border: 1px solid white !important; }

.form-silver {
  color: silver; }
  .form-silver input {
    border: 1px solid silver !important; }

.form-gray {
  color: gray; }
  .form-gray input {
    border: 1px solid gray !important; }

.form-black {
  color: black; }
  .form-black input {
    border: 1px solid black !important; }

/* Alert Colors */
.alert-yellow {
  background: #f5eebc;
  color: #8e7c0b; }
  .alert-yellow a, .alert-yellow .close {
    color: #5e5208; }
    .alert-yellow a:hover, .alert-yellow a:focus, .alert-yellow a .close:hover, .alert-yellow a .close:focus, .alert-yellow .close:hover, .alert-yellow .close:focus, .alert-yellow .close .close:hover, .alert-yellow .close .close:focus {
      color: #8e7c0b; }

.alert-red {
  background: #f9d7d5;
  color: #e02d22; }
  .alert-red a, .alert-red .close {
    color: #b5221a; }
    .alert-red a:hover, .alert-red a:focus, .alert-red a .close:hover, .alert-red a .close:focus, .alert-red .close:hover, .alert-red .close:focus, .alert-red .close .close:hover, .alert-red .close .close:focus {
      color: #e02d22; }

.alert-blue {
  background: #daf2fb;
  color: #20a9df; }
  .alert-blue a, .alert-blue .close {
    color: #1987b2; }
    .alert-blue a:hover, .alert-blue a:focus, .alert-blue a .close:hover, .alert-blue a .close:focus, .alert-blue .close:hover, .alert-blue .close:focus, .alert-blue .close .close:hover, .alert-blue .close .close:focus {
      color: #20a9df; }

.alert-green {
  background: #d7efda;
  color: #2d8136; }
  .alert-green a, .alert-green .close {
    color: #205b26; }
    .alert-green a:hover, .alert-green a:focus, .alert-green a .close:hover, .alert-green a .close:focus, .alert-green .close:hover, .alert-green .close:focus, .alert-green .close .close:hover, .alert-green .close .close:focus {
      color: #2d8136; }

/* 
--------------------
HTML / BODY
-------------------- 
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html,
button,
input,
select,
textarea,
body {
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  padding: 0;
  margin: 0; }

body {
  color: #343434;
  background: #fefefe;
  font-weight: 400;
  font-size: 0.875rem; }

img {
  vertical-align: middle; }

hr {
  margin-top: 1.6;
  margin-bottom: 1.6;
  border: 0;
  border-top: 1px solid #999999; }

/* 
--------------------
GRID
-------------------- 
*/
section {
  width: 100%; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  position: relative; }

.group {
  zoom: 1;
  margin-bottom: 1em; }
  .group:before, .group:after {
    content: " ";
    display: table; }
  .group:after {
    clear: both; }
  .group .group {
    margin-left: -2%;
    margin-right: -2%; }

.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10, .d11, .d12 {
  margin: 2%;
  float: left;
  min-height: 1px;
  width: 96%; }

.i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11, .i12 {
  width: 100%; }

@media only screen and (max-width: 48rem) {
  .m1 {
    width: 4.33333%; }

  .m2 {
    width: 12.66667%; }

  .m3 {
    width: 21%; }

  .m4 {
    width: 29.33333%; }

  .m5 {
    width: 37.66667%; }

  .m6 {
    width: 46%; }

  .m7 {
    width: 54.33333%; }

  .m8 {
    width: 62.66667%; }

  .m9 {
    width: 71%; }

  .m10 {
    width: 79.33333%; }

  .m11 {
    width: 87.66667%; }

  .m12 {
    width: 96%; } }
@media only screen and (min-width: 48rem) {
  .d1 {
    width: 4.33333%; }

  .i1 {
    width: 8.33333%; }

  .o1 {
    margin-left: 10.33333%; }

  .d2 {
    width: 12.66667%; }

  .i2 {
    width: 16.66667%; }

  .o2 {
    margin-left: 18.66667%; }

  .d3 {
    width: 21%; }

  .i3 {
    width: 25%; }

  .o3 {
    margin-left: 27%; }

  .d4 {
    width: 29.33333%; }

  .i4 {
    width: 33.33333%; }

  .o4 {
    margin-left: 35.33333%; }

  .d5 {
    width: 37.66667%; }

  .i5 {
    width: 41.66667%; }

  .o5 {
    margin-left: 43.66667%; }

  .d6 {
    width: 46%; }

  .i6 {
    width: 50%; }

  .o6 {
    margin-left: 52%; }

  .d7 {
    width: 54.33333%; }

  .i7 {
    width: 58.33333%; }

  .o7 {
    margin-left: 60.33333%; }

  .d8 {
    width: 62.66667%; }

  .i8 {
    width: 66.66667%; }

  .o8 {
    margin-left: 68.66667%; }

  .d9 {
    width: 71%; }

  .i9 {
    width: 75%; }

  .o9 {
    margin-left: 77%; }

  .d10 {
    width: 79.33333%; }

  .i10 {
    width: 83.33333%; }

  .o10 {
    margin-left: 85.33333%; }

  .d11 {
    width: 87.66667%; }

  .i11 {
    width: 91.66667%; }

  .o11 {
    margin-left: 93.66667%; }

  .d12 {
    width: 96%; }

  .i12 {
    width: 100%; }

  .o12 {
    margin-left: 102%; }

  .flip {
    float: right; } }
/* 
--------------------
HELPFUL CLASSES
-------------------- 
*/
.center-block {
  margin: 1em auto; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hidden {
  display: none !important; }

.invisible {
  visibility: none !important; }

.visible {
  display: block   !important; }

.block {
  display: block        !important; }

.inline {
  display: inline       !important; }

.inline-block {
  display: inline-block !important; }

.float-left {
  float: left  !important; }

.float-right {
  float: right !important; }

.align-left {
  text-align: left   !important; }

.align-center {
  text-align: center !important; }

.align-right {
  text-align: right  !important; }

.ma0 {
  margin: 0   !important; }

.ma1 {
  margin: 1em !important; }

.ma2 {
  margin: 2em !important; }

.mt0 {
  margin-top: 0   !important; }

.mt1 {
  margin-top: 1em !important; }

.mt2 {
  margin-top: 2em !important; }

.mb0 {
  margin-bottom: 0   !important; }

.mb1 {
  margin-bottom: 1em !important; }

.mb2 {
  margin-bottom: 2em !important; }

.ml1 {
  margin-left: 1em !important; }

.ml2 {
  margin-left: 2em !important; }

.mr1 {
  margin-right: 1em !important; }

.mr2 {
  margin-right: 2em !important; }

.pa0 {
  padding: 0   !important; }

.pa1 {
  padding: 1em !important; }

.pa2 {
  padding: 2em !important; }

.pt0 {
  padding-top: 0   !important; }

.pt1 {
  padding-top: 1em !important; }

.pt2 {
  padding-top: 2em !important; }

.pb0 {
  padding-bottom: 0   !important; }

.pb1 {
  padding-bottom: 1em !important; }

.pb2 {
  padding-bottom: 2em !important; }

.pl1 {
  padding-left: 1em !important; }

.pl2 {
  padding-left: 2em !important; }

.pr1 {
  padding-right: 1em !important; }

.pr2 {
  padding-right: 2em !important; }

@media only screen and (max-width: 48rem) {
  .not-mobile {
    display: none !important; } }

@media only screen and (min-width: 48rem) {
  .not-desktop {
    display: none !important; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 0.3125rem; }

.img-circle {
  border-radius: 50%; }

.img-thumb {
  padding: 0.375rem;
  line-height: 1.6;
  background-color: #eaeaea;
  border: 1px solid #aaaaaa;
  border-radius: 0rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

/* 
--------------------
TYPOGRAPHY
-------------------- 
*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 400;
  margin-bottom: 0.625rem; }
  h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small, h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small {
    font-weight: 300;
    line-height: 1;
    color: #676767;
    font-size: 75%; }

h1, .h1 {
  font-size: 2.625rem;
  line-height: 1.2; }

h2, .h2 {
  font-size: 2.1875rem;
  line-height: 1.2; }

h3, .h3 {
  font-size: 1.75rem;
  line-height: 1.2; }

h4, .h4 {
  font-size: 1.3125rem;
  line-height: 1.4; }

h5, .h5 {
  font-size: 1.16667rem;
  line-height: 1.4; }

h6, .h6 {
  font-size: 1.0214rem;
  line-height: 1.4; }

p {
  font-size: 0.875rem;
  line-height: 1.6;
  margin-bottom: 1.125rem; }
  p.last-p {
    margin-bottom: 2.1875rem; }

p.xlarge, span.xlarge {
  font-size: 1.09375rem;
  line-height: 2.08; }
p.large, span.large {
  font-size: 0.99995rem;
  line-height: 1.92; }
p.small, span.small {
  font-size: 0.74988rem; }

a {
  color: #0059a6;
  text-decoration: none;
  background: transparent;
  transition: color .3s ease-in-out; }
  a:active {
    color: #ff851b; }
  a:hover, a:focus {
    color: #003d73;
    text-decoration: underline;
    outline: 0; }
  a:focus {
    outline: thin dotted; }

.italic {
  font-style: italic;
  color: #4d4d4d; }

.bold {
  font-weight: 700;
  color: #1a1a1a; }

.normal {
  font-weight: 400; }

.spacing {
  letter-spacing: 3px;
  word-spacing: 5px; }

.underline {
  text-decoration: underline; }

.caps {
  text-transform: uppercase; }

.fancy:before {
  content: "\274B  ";
  font-size: inherit;
  color: inherit; }

.req:after {
  content: " *";
  color: #ff4136; }

.arrow:after {
  content: "\279E"; }

.utf8, .alert .close {
  font-family: "Lucida Grande", "Arial Unicode MS", sans-serif; }

.mono {
  font-family: "Monaco", "Menlo", "Consolas", "Courier New", Courier, monospace; }

.sans-serif {
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.serif {
  font-family: "Roboto Slab", Georgia, "Palatino Linotype", "Book Antiqua", "Palatino", Times, serif; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

.key, kbd {
  background-color: #0082f3;
  color: #051422;
  padding: 3px;
  border-radius: 3px;
  font-family: "Monaco", "Menlo", "Consolas", "Courier New", Courier, monospace; }

/* 
--------------------
BUTTONS
-------------------- 
*/
.btn {
  display: inline-block;
  color: white;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.625rem 1rem;
  line-height: 1.4;
  white-space: nowrap;
  white-space-collapse: discard;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -moz-border-radius: 0rem;
  -webkit-border-radius: 0rem;
  border-radius: 0rem;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  border: none transparent;
  background-image: none;
  overflow: hidden;
  text-decoration: none;
  transition: background-color .2s ease-in-out; }
  .btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    color: white; }

.btn-ghost-dark {
  color: #222222;
  border: 1px solid #222222;
  background-color: none; }
  .btn-ghost-dark:hover, .btn-ghost-dark:focus, .btn-ghost-dark:active, .btn-ghost-dark.active {
    color: #222222;
    background-color: rgba(100, 100, 100, 0.1);
    text-decoration: none; }

.btn-ghost {
  color: white;
  border: 1px solid white;
  background-color: none; }
  .btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active {
    background-color: rgba(100, 100, 100, 0.1);
    text-decoration: none; }

.btn-lg, .btn-group-lg .btn {
  padding: 0.875rem 1.25rem;
  font-size: 1.09375rem;
  line-height: 1.4;
  border-radius: 0rem; }

.btn-sm, .btn-group-sm .btn {
  padding: 0.5rem 0.75rem;
  font-size: 0.65625rem;
  line-height: 1.4;
  border-radius: 0rem; }

.btn-block {
  display: block !important;
  width: 100%;
  margin-right: 0;
  margin-bottom: 0.25em;
  padding-left: 0;
  padding-right: 0; }

@media only screen and (max-width: 48rem) {
  .btn-flex {
    display: block !important;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0; } }

.btn-group {
  position: relative;
  margin-right: 0 !important;
  display: inline-block;
  vertical-align: middle; }
  .btn-group .btn {
    position: relative;
    float: left; }
    .btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.active {
      z-index: 2; }
    .btn-group .btn:focus {
      outline: none; }

.btn-group .btn:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0; }

.btn-group .btn:first-child {
  margin-left: 0; }
  .btn-group .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

.btn-group .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group .btn-group {
  float: left; }

.btn-group .btn-group:not(:first-child):not(:last-child) .btn {
  border-radius: 0; }

.btn-group .btn-group:first-child .btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.btn-group .btn-group:last-child .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
  .btn-group-justified .btn {
    float: none;
    display: table-cell;
    width: 1%; }

.btn-group-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%; }
  .btn-group-vertical .btn:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .btn-group-vertical .btn:first-child:not(:last-child) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .btn-group-vertical .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }

/* 
--------------------
FORMS
-------------------- 
*/
.form-style input[type="text"],
.form-style input[type="password"],
.form-style input[type="email"],
.form-style input[type="url"],
.form-style input[type="date"],
.form-style input[type="month"],
.form-style input[type="time"],
.form-style input[type="datetime"],
.form-style input[type="datetime-local"],
.form-style input[type="week"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="tel"],
.form-style input[type="color"],
.form-style select,
.form-style textarea {
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  display: inline-block;
  border: 1px solid #999999;
  border-radius: 0rem;
  transition: border .3s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .form-style input[type="text"]:focus,
  .form-style input[type="password"]:focus,
  .form-style input[type="email"]:focus,
  .form-style input[type="url"]:focus,
  .form-style input[type="date"]:focus,
  .form-style input[type="month"]:focus,
  .form-style input[type="time"]:focus,
  .form-style input[type="datetime"]:focus,
  .form-style input[type="datetime-local"]:focus,
  .form-style input[type="week"]:focus,
  .form-style input[type="number"]:focus,
  .form-style input[type="search"]:focus,
  .form-style input[type="tel"]:focus,
  .form-style input[type="color"]:focus,
  .form-style select:focus,
  .form-style textarea:focus {
    outline: 0;
    border-color: #39cccc; }
  .form-style input[type="text"][disabled],
  .form-style input[type="password"][disabled],
  .form-style input[type="email"][disabled],
  .form-style input[type="url"][disabled],
  .form-style input[type="date"][disabled],
  .form-style input[type="month"][disabled],
  .form-style input[type="time"][disabled],
  .form-style input[type="datetime"][disabled],
  .form-style input[type="datetime-local"][disabled],
  .form-style input[type="week"][disabled],
  .form-style input[type="number"][disabled],
  .form-style input[type="search"][disabled],
  .form-style input[type="tel"][disabled],
  .form-style input[type="color"][disabled],
  .form-style select[disabled],
  .form-style textarea[disabled] {
    cursor: not-allowed;
    background-color: #dddddd;
    color: #999999; }
  @media only screen and (max-width: 48rem) {
    .form-style input[type="text"],
    .form-style input[type="password"],
    .form-style input[type="email"],
    .form-style input[type="url"],
    .form-style input[type="date"],
    .form-style input[type="month"],
    .form-style input[type="time"],
    .form-style input[type="datetime"],
    .form-style input[type="datetime-local"],
    .form-style input[type="week"],
    .form-style input[type="number"],
    .form-style input[type="search"],
    .form-style input[type="tel"],
    .form-style input[type="color"],
    .form-style select,
    .form-style textarea {
      display: block;
      margin: 0.25rem 0; } }
.form-style select {
  border: 1px solid #999999;
  border-radius: 0rem;
  background-color: white; }
.form-style select[multiple] {
  height: auto; }
.form-style label {
  margin: 0.5rem 0 0.25rem; }
  @media only screen and (max-width: 48rem) {
    .form-style label {
      display: block;
      margin: 0.25rem 0; } }
.form-style fieldset {
  margin: 0;
  padding: 0.3125rem 0 0.75rem;
  border: 0; }
.form-style legend {
  display: block;
  width: 100%;
  padding: 0.3125rem 0;
  margin-bottom: 0.3125rem;
  color: #222222;
  border-bottom: 1px solid #dddddd; }
.form-style input[type="file"]:focus,
.form-style input[type="radio"]:focus,
.form-style input[type="checkbox"]:focus {
  outline: thin dotted #555555;
  outline: 1px auto #484848; }

.form-vertical input[type="text"],
.form-vertical input[type="password"],
.form-vertical input[type="email"],
.form-vertical input[type="url"],
.form-vertical input[type="date"],
.form-vertical input[type="month"],
.form-vertical input[type="time"],
.form-vertical input[type="datetime"],
.form-vertical input[type="datetime-local"],
.form-vertical input[type="week"],
.form-vertical input[type="number"],
.form-vertical input[type="search"],
.form-vertical input[type="tel"],
.form-vertical input[type="color"],
.form-vertical select,
.form-vertical textarea {
  display: block;
  margin: 0.25rem 0 0.5rem; }

.form-checkbox,
.form-radio {
  margin: 0.5rem 0;
  display: block; }

.form-align input,
.form-align textarea,
.form-align select {
  display: inline-block;
  vertical-align: middle; }
.form-align textarea {
  vertical-align: top; }
.form-align .form-group {
  margin-bottom: 0.375rem; }
  .form-align .form-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10rem;
    margin: 0 1rem 0 0; }
    @media only screen and (max-width: 48rem) {
      .form-align .form-group label {
        display: block;
        text-align: left;
        margin-bottom: 0.3125rem;
        width: 100%; } }

/* 
--------------------
NAV and MENU
-------------------- 
*/
.nav {
  z-index: 1020;
  width: 100%;
  background: #001f3f;
  border: 1px solid #00060c; }
  .nav ul {
    position: relative;
    left: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1010; }
    .nav ul:focus {
      outline: 0; }
  .nav li {
    position: relative;
    font-size: 14px;
    font-weight: 700; }
    .nav li a {
      display: block;
      padding: 0.625rem 1.25rem;
      border: 1px solid transparent;
      border-radius: 0rem;
      border-left: none;
      border-right: none;
      transition: background .2s ease-in-out;
      color: #f2f2f2; }
      .nav li a:hover, .nav li a:focus {
        background: #004791; }
    .nav li.disabled a {
      background-image: none;
      border-color: transparent;
      cursor: default; }
      .nav li.disabled a:hover, .nav li.disabled a:focus {
        background: white;
        color: #dddddd; }
    .nav li.active a {
      color: #cccccc;
      background: #004791; }
  .nav a, .nav .nav-title {
    display: block;
    color: inherit;
    line-height: 1.6;
    padding: 0.3125rem 1.25rem;
    text-decoration: none;
    white-space: nowrap; }
  .nav .nav-title {
    color: #cccccc;
    text-transform: uppercase;
    font-size: 110%;
    margin-top: 0.5rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #004791; }
  .nav .nav-hidden {
    display: none; }
  .nav .nav-hr {
    background-color: #004791;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 0.5rem 0.125rem;
    overflow: hidden; }
  .nav.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    background: #001f3f;
    border-bottom: 1px solid #00060c !important; }
  .nav.nav-horizontal {
    border: none;
    height: 2.75rem; }
    .nav.nav-horizontal .nav-title, .nav.nav-horizontal ul, .nav.nav-horizontal li {
      display: inline-block;
      margin: 0;
      vertical-align: middle; }
    .nav.nav-horizontal li.dropdown .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 0.3125rem solid;
      border-right: 0.3125rem solid transparent;
      border-left: 0.3125rem solid transparent; }
    .nav.nav-horizontal li.dropdown ul {
      position: absolute;
      width: 9.375rem;
      left: -999em;
      background: #001f3f; }
    .nav.nav-horizontal li.dropdown:hover ul {
      top: 2.75rem;
      left: auto; }
    .nav.nav-horizontal .nav-title {
      margin: 0.1875rem 0 0;
      border: none; }
    .nav.nav-horizontal li li {
      display: block; }
      .nav.nav-horizontal li li.nav-hr {
        height: 1px;
        width: auto;
        margin: 0.5rem 0.125rem; }
    .nav.nav-horizontal li.nav-hr {
      height: 50%;
      width: 1px;
      margin: 0 0.5rem; }

/* 
--------------------
TABLES
-------------------- 
*/
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #999999;
  background: white; }
  .table caption {
    color: #222222;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center; }
  .table th, .table td {
    border-left: 1px solid #999999;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5rem;
    transition: background-color .2s ease-in-out; }
    .table th:first-child, .table td:first-child {
      border-left-width: 0; }
  .table thead {
    background: #ebebeb;
    color: #222222;
    text-align: left;
    vertical-align: bottom; }
    .table thead tr th {
      vertical-align: bottom;
      border-bottom: 2px solid #999999; }
    .table thead th {
      font-weight: 700; }
  .table tbody + tbody {
    border-top: 2px solid #999999; }
  .table.table-striped tbody tr:nth-child(odd) td, .table.table-striped tbody tr:nth-child(odd) th {
    background-color: #f2f2f2; }
  .table.table-bordered td {
    border-bottom: 1px solid #a6a6a6; }
  .table.table-bordered tbody > tr:last-child td, .table.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0; }
  .table.table-horizontal td, .table.table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #999999; }
  .table.table-hover tbody tr:hover td,
  .table.table-hover tbody tr:hover th {
    background-color: #dddddd;
    transition: background-color .2s ease-in-out; }
  .table.table-hover + .table-striped tbody tr:nth-child(odd):hover td,
  .table.table-hover + .table-striped tbody tr:nth-child(odd):hover th {
    background-color: #c4c4c4; }

/*
--------------------
ALERTS and WELLS
-------------------- 
*/
/*
Caution: alert-yellow
Warning: alert-red
Info: alert-blue
Success: alert-green
*/
.alert {
  padding: 1rem;
  margin: 1rem 0;
  line-height: inherit;
  font-size: 0.875rem;
  border: none;
  border-radius: 0rem; }
  .alert .icon {
    float: left;
    font-size: 0.875rem;
    margin-right: 10px; }
  .alert .close {
    float: right;
    cursor: pointer; }
    .alert .close:before {
      content: "\00d7"; }
  .alert .bold {
    color: inherit; }
  .alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    margin: 0;
    display: inline-block;
    color: inherit; }
  .alert a {
    font-weight: 400; }
  .alert p, .alert ul {
    margin-bottom: 0;
    padding: 0; }
  .alert p + p {
    margin-top: 5px; }

.label, .badge {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 50%;
  font-weight: bold;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: 20%;
  border-radius: 0rem; }
  .label[href]:hover, .label[href]:focus, .badge[href]:hover, .badge[href]:focus {
    color: white;
    text-decoration: none;
    cursor: pointer; }
  .label:empty, .badge:empty {
    display: none; }
  .btn .label, .btn .badge {
    position: relative;
    top: -1px; }

.badge {
  border-radius: 50%; }

.well {
  min-height: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1rem;
  background-color: #dddddd;
  border: 1px solid #b7b7b7;
  border-radius: 0rem; }
  .well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15); }

.well-lg {
  padding: 1.4rem;
  border-radius: 0rem; }

.well-sm {
  padding: 0.65625rem;
  border-radius: 0rem; }

/*
--------------------
PAGINATION
-------------------- 
*/
.pagination {
  position: relative;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background: #999999;
  color: #f2f2f2;
  padding: 0;
  margin: 15px 0;
  display: inline-block;
  border-radius: 3px; }
  .pagination a:hover {
    text-decoration: none; }
  .pagination li {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle; }
    .pagination li a,
    .pagination li span {
      display: inline-block;
      background: transparent;
      border: none;
      border-left: 2px solid #a6a6a6;
      color: #f2f2f2;
      font-size: 14px;
      line-height: 1;
      min-height: 40px;
      min-width: 40px;
      outline: none;
      padding: 12px 10px;
      text-align: center;
      -webkit-transition: 0.25s ease-out;
      transition: 0.25s ease-out; }
    .pagination li:first-child > a, .pagination li:first-child > span {
      border-radius: 3px 0 0 3px;
      border-left: none; }
    .pagination li:first-child.previous + li > a, .pagination li:first-child.previous + li > span {
      border-left-width: 0; }
    .pagination li:last-child {
      margin-right: 0; }
      .pagination li:last-child a,
      .pagination li:last-child span,
      .pagination li:last-child a:hover,
      .pagination li:last-child span:hover,
      .pagination li:last-child a:focus,
      .pagination li:last-child span:focus {
        border-radius: 0 3px 3px 0; }
    .pagination li a:hover,
    .pagination li span:hover,
    .pagination li a:focus,
    .pagination li span:focus {
      background-color: #ababab; }
    .pagination li a.active,
    .pagination li span.active {
      background-color: #858585;
      color: #f2f2f2;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; }
      .pagination li a.active:hover,
      .pagination li span.active:hover {
        background-color: #858585;
        color: #f2f2f2; }
  .pagination li.previous a.disabled,
  .pagination li.previous span.disabled,
  .pagination li.next a.disabled,
  .pagination li.next span.disabled {
    background-color: #858585;
    color: #999999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    .pagination li.previous a.disabled:hover, .pagination li.previous a.disabled:focus,
    .pagination li.previous span.disabled:hover,
    .pagination li.previous span.disabled:focus,
    .pagination li.next a.disabled:hover,
    .pagination li.next a.disabled:focus,
    .pagination li.next span.disabled:hover,
    .pagination li.next span.disabled:focus {
      background-color: #858585;
      color: #999999; }
  .pagination li.previous > a,
  .pagination li.next > a,
  .pagination li.previous > span,
  .pagination li.next > span {
    border-right: 2px solid #a6a6a6;
    font-size: 14px;
    min-width: auto;
    padding: 12px 17px; }
  .pagination li.next > a,
  .pagination li.next > span {
    border-right: none; }

.pagination-blue {
  background: #0074d9;
  color: #f2f2f2; }
  .pagination-blue li a,
  .pagination-blue li span {
    border-left: 2px solid #138ef9;
    color: #f2f2f2; }
  .pagination-blue li a:hover,
  .pagination-blue li span:hover,
  .pagination-blue li a:focus,
  .pagination-blue li span:focus {
    background-color: #0087fd; }
  .pagination-blue li a.active,
  .pagination-blue li span.active {
    background-color: #095ea7;
    color: #f2f2f2; }
    .pagination-blue li a.active:hover,
    .pagination-blue li span.active:hover {
      background-color: #095ea7;
      color: #f2f2f2; }
  .pagination-blue li.previous a.disabled,
  .pagination-blue li.previous span.disabled,
  .pagination-blue li.next a.disabled,
  .pagination-blue li.next span.disabled {
    background-color: #095ea7;
    color: #0074d9; }
    .pagination-blue li.previous a.disabled:hover, .pagination-blue li.previous a.disabled:focus,
    .pagination-blue li.previous span.disabled:hover,
    .pagination-blue li.previous span.disabled:focus,
    .pagination-blue li.next a.disabled:hover,
    .pagination-blue li.next a.disabled:focus,
    .pagination-blue li.next span.disabled:hover,
    .pagination-blue li.next span.disabled:focus {
      background-color: #095ea7;
      color: #0074d9; }
  .pagination-blue li.previous > a,
  .pagination-blue li.next > a,
  .pagination-blue li.previous > span,
  .pagination-blue li.next > span {
    border-right: 2px solid #138ef9; }
  .pagination-blue li.next > a,
  .pagination-blue li.next > span {
    border-right: none; }

.pagination-green {
  background: #2ecc40;
  color: #f2f2f2; }
  .pagination-green li a,
  .pagination-green li span {
    border-left: 2px solid #5ad368;
    color: #f2f2f2; }
  .pagination-green li a:hover,
  .pagination-green li span:hover,
  .pagination-green li a:focus,
  .pagination-green li span:focus {
    background-color: #48d658; }
  .pagination-green li a.active,
  .pagination-green li span.active {
    background-color: #31a03e;
    color: #f2f2f2; }
    .pagination-green li a.active:hover,
    .pagination-green li span.active:hover {
      background-color: #31a03e;
      color: #f2f2f2; }
  .pagination-green li.previous a.disabled,
  .pagination-green li.previous span.disabled,
  .pagination-green li.next a.disabled,
  .pagination-green li.next span.disabled {
    background-color: #31a03e;
    color: #2ecc40; }
    .pagination-green li.previous a.disabled:hover, .pagination-green li.previous a.disabled:focus,
    .pagination-green li.previous span.disabled:hover,
    .pagination-green li.previous span.disabled:focus,
    .pagination-green li.next a.disabled:hover,
    .pagination-green li.next a.disabled:focus,
    .pagination-green li.next span.disabled:hover,
    .pagination-green li.next span.disabled:focus {
      background-color: #31a03e;
      color: #2ecc40; }
  .pagination-green li.previous > a,
  .pagination-green li.next > a,
  .pagination-green li.previous > span,
  .pagination-green li.next > span {
    border-right: 2px solid #5ad368; }
  .pagination-green li.next > a,
  .pagination-green li.next > span {
    border-right: none; }

.pagination-red {
  background: #ff4136;
  color: #f2f2f2; }
  .pagination-red li a,
  .pagination-red li span {
    border-left: 2px solid #fb756d;
    color: #f2f2f2; }
  .pagination-red li a:hover,
  .pagination-red li span:hover,
  .pagination-red li a:focus,
  .pagination-red li span:focus {
    background-color: #ff635a; }
  .pagination-red li a.active,
  .pagination-red li span.active {
    background-color: #f32519;
    color: #f2f2f2; }
    .pagination-red li a.active:hover,
    .pagination-red li span.active:hover {
      background-color: #f32519;
      color: #f2f2f2; }
  .pagination-red li.previous a.disabled,
  .pagination-red li.previous span.disabled,
  .pagination-red li.next a.disabled,
  .pagination-red li.next span.disabled {
    background-color: #f32519;
    color: #ff4136; }
    .pagination-red li.previous a.disabled:hover, .pagination-red li.previous a.disabled:focus,
    .pagination-red li.previous span.disabled:hover,
    .pagination-red li.previous span.disabled:focus,
    .pagination-red li.next a.disabled:hover,
    .pagination-red li.next a.disabled:focus,
    .pagination-red li.next span.disabled:hover,
    .pagination-red li.next span.disabled:focus {
      background-color: #f32519;
      color: #ff4136; }
  .pagination-red li.previous > a,
  .pagination-red li.next > a,
  .pagination-red li.previous > span,
  .pagination-red li.next > span {
    border-right: 2px solid #fb756d; }
  .pagination-red li.next > a,
  .pagination-red li.next > span {
    border-right: none; }

.pagination-yellow {
  background: #ffdc00;
  color: #f2f2f2; }
  .pagination-yellow li a,
  .pagination-yellow li span {
    border-left: 2px solid #fadf38;
    color: #f2f2f2; }
  .pagination-yellow li a:hover,
  .pagination-yellow li span:hover,
  .pagination-yellow li a:focus,
  .pagination-yellow li span:focus {
    background-color: #ffe124; }
  .pagination-yellow li a.active,
  .pagination-yellow li span.active {
    background-color: #cbb10b;
    color: #f2f2f2; }
    .pagination-yellow li a.active:hover,
    .pagination-yellow li span.active:hover {
      background-color: #cbb10b;
      color: #f2f2f2; }
  .pagination-yellow li.previous a.disabled,
  .pagination-yellow li.previous span.disabled,
  .pagination-yellow li.next a.disabled,
  .pagination-yellow li.next span.disabled {
    background-color: #cbb10b;
    color: #ffdc00; }
    .pagination-yellow li.previous a.disabled:hover, .pagination-yellow li.previous a.disabled:focus,
    .pagination-yellow li.previous span.disabled:hover,
    .pagination-yellow li.previous span.disabled:focus,
    .pagination-yellow li.next a.disabled:hover,
    .pagination-yellow li.next a.disabled:focus,
    .pagination-yellow li.next span.disabled:hover,
    .pagination-yellow li.next span.disabled:focus {
      background-color: #cbb10b;
      color: #ffdc00; }
  .pagination-yellow li.previous > a,
  .pagination-yellow li.next > a,
  .pagination-yellow li.previous > span,
  .pagination-yellow li.next > span {
    border-right: 2px solid #fadf38; }
  .pagination-yellow li.next > a,
  .pagination-yellow li.next > span {
    border-right: none; }

/*
--------------------
MOBILE MENU
-------------------- 
*/
/*
<div class="mobile-menu">
    <div>
        <input id="mbl" name="mbl-menu" type="checkbox" />
        <label for="mbl"><!-- Logo Text or image --><span class="open-menu your-icon"></span></label>
        <div class="article">
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</div> 
*/
.mobile-menu {
  display: none; }

@media only screen and (max-width: 48rem) {
  .mobile-menu {
    display: block; } }
.mobile-menu {
  width: 100%; }
  .mobile-menu label {
    padding: 5px 20px;
    margin: 0;
    position: relative;
    z-index: 1030;
    height: 50px;
    display: block;
    cursor: pointer;
    color: white;
    background: #999999;
    font-size: 1.75rem; }
    .mobile-menu label img {
      float: left;
      margin-left: 8px;
      margin-top: 8px; }
    .mobile-menu label span.open-menu {
      color: rgba(255, 255, 255, 0.6);
      float: right;
      padding-right: 8px;
      padding-top: 6px; }
      .mobile-menu label span.open-menu:hover {
        color: rgba(255, 255, 255, 0.8); }
  .mobile-menu input {
    display: none; }
  .mobile-menu .article {
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 0;
    transition: height 0.3s ease-in-out; }
    .mobile-menu .article ul {
      background: #a6a6a6;
      height: 100%;
      overflow: auto; }
      .mobile-menu .article ul li {
        padding: 12px;
        border-bottom: 1px solid #adadad; }
        .mobile-menu .article ul li:first-child {
          padding-top: 15px; }
        .mobile-menu .article ul li:hover {
          background: #adadad; }
        .mobile-menu .article ul li a {
          color: white;
          font-size: 0.875rem;
          font-weight: bold; }
  .mobile-menu input:checked ~ .article {
    transition: height 0.5s ease-in-out;
    height: 275px; }

/*
--------------------
LISTS
-------------------- 
*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0.625rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

ul p.list-label, ol p.list-label, dl p.list-label {
  font-size: 1.05rem;
  font-weight: 700;
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif; }

ul.list-default {
  list-style: disc; }
  ul.list-default li {
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
    position: relative;
    font-size: 0.875rem; }

ol.list-default {
  list-style: upper-alpha; }
  ol.list-default li {
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
    position: relative;
    font-size: 0.875rem; }

ol.list-counter {
  list-style: none;
  counter-reset: bot-counter; }
  ol.list-counter li {
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    position: relative;
    font-size: 0.875rem; }
    ol.list-counter li:before {
      content: counter(bot-counter);
      counter-increment: bot-counter;
      position: absolute;
      left: -2rem;
      top: 0;
      text-align: center;
      vertical-align: middle;
      width: 1.25rem;
      font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 1.4em;
      height: 1.25rem;
      font-size: 14px;
      border-radius: 50%;
      background-color: #999999;
      color: white; }

ol.list-counter.counter-red > li:before {
  background-color: #ff4136; }

ol.list-counter.counter-blue > li:before {
  background-color: #0074d9; }

ol.list-counter.counter-yellow > li:before {
  background-color: #ffdc00; }

ol.list-counter.counter-green > li:before {
  background-color: #2ecc40; }

.list-nostyle, .list-inline {
  padding-left: 0;
  list-style: none;
  font-size: 0.875rem; }
  .list-nostyle li, .list-inline li {
    margin-bottom: 0.5rem; }

.list-inline li {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px; }
.list-inline li:first-of-type {
  padding-left: 0 !important; }

ul.list-inline.dots li:after {
  content: "\2022";
  color: #aaa;
  position: absolute;
  top: 2px;
  right: -5px;
  font-size: 12px; }
ul.list-inline.dots li {
  padding-left: 8px;
  padding-right: 8px; }
ul.list-inline.dots li:first-child {
  padding-left: 0; }
ul.list-inline.dots li:last-child:after {
  content: ""; }

ul.list-leader {
  overflow-x: hidden;
  list-style: none;
  font-size: 0.875rem; }
  ul.list-leader li {
    line-height: 1.2;
    margin-bottom: 0.8rem; }
    ul.list-leader li:before {
      float: left;
      width: 0;
      white-space: no-wrap;
      color: #999999;
      content: "........................................................................................................................................................................................................................................................................";
      font-size: 0.75rem;
      line-height: inherit; }
    ul.list-leader li span:first-child {
      background: #fff;
      padding-right: 0.8rem; }
    ul.list-leader li span + span {
      float: right;
      background: #fff;
      padding-left: 0.8rem; }
    ul.list-leader li span {
      line-height: inherit; }

dl {
  margin-bottom: 1.5;
  font-size: 0.875rem; }

dl.small {
  font-size: 0.74375rem; }

dt,
dd {
  line-height: 1.6; }

dt {
  font-weight: 700; }

dd {
  margin-left: 0;
  margin-bottom: 1rem; }

@media only screen and (min-width: 48rem) {
  .dl-horizontal dt {
    float: left;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 6rem;
    zoom: 1; }
    .dl-horizontal dd:before, .dl-horizontal dd:after {
      content: " ";
      display: table; }
    .dl-horizontal dd:after {
      clear: both; } }
.media-list {
  font-size: inherit;
  line-height: inherit;
  list-style: none; }
  .media-list.rows h1, .media-list.rows h2, .media-list.rows h3, .media-list.rows h4, .media-list.rows h5, .media-list.rows h6, .media-list.rows p {
    margin: 0; }
  .media-list.rows p + button, .media-list.rows p + .btn {
    margin-top: 0.75rem; }
  .media-list.rows li {
    margin: 0;
    border-top: 1px dotted #999999; }
    .media-list.rows li:last-child {
      border-bottom: 1px dotted #999999; }
  .media-list.rows .media {
    padding: 1.25rem 0;
    margin: 0; }
    .media-list.rows .media .media-img [class^="icon-"] {
      font-size: 2.625rem;
      padding-left: 0.125rem; }
  .media-list.rows.no-border li {
    border-top: none; }
  .media-list li {
    display: list-item;
    margin: 0 0 0.75rem 0; }
  .media-list .media .left {
    padding-right: 1rem; }
  .media-list .media .right {
    padding-left: 1rem; }
  .media-list .media .media-img {
    float: left;
    margin-right: 1rem; }
    .media-list .media .media-img img {
      display: block; }

.media, .media-content {
  overflow: hidden;
  _overflow: visible;
  zoom: 1; }

ol.media-list {
  counter-reset: li;
  margin-left: 0; }
  ol.media-list [class*="grid-"] {
    padding: 0 2%; }
  ol.media-list li {
    position: relative;
    list-style: none;
    padding-left: 3.75rem; }
    ol.media-list li:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 26px;
      left: 0;
      width: 42px;
      height: 42px;
      padding-top: 0.4375rem;
      border-radius: 50%;
      color: white;
      background: #bfbfbf;
      font-size: 1.75rem;
      font-weight: bold;
      text-align: center; }

/*
--------------------
MODAL
-------------------- 
*/
/*
--------------------
SLIDER
-------------------- 
*/
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(../img/slider/grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  filter: Alpha(Opacity=80);
  /*IE7 fix*/
  opacity: 0.8; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #222222; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If Pagination Numbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../img/slider/AjaxLoader.gif) no-repeat center center; }

#slider .item img {
  display: block;
  width: 100%;
  height: auto; }

.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px; }

.owl-theme .owl-buttons i {
  margin-top: 2px; }

.owl-theme .owl-controls .owl-buttons div {
  position: absolute; }

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 20px;
  top: 35%; }

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 20px;
  top: 35%; }

@media screen and (max-width: 48rem) {
  .owl-prev, .owl-next {
    display: none !important; } }
/*
--------------------
PRICE TABLE
-------------------- 
*/
/*
--------------------
ANIMATION
-------------------- 
*/
/*
--------------------
CAPTIONS
-------------------- 
*/
/* 
--------------------
GOOGLE FORMS
-------------------- 
*/
/*
--------------------
CUSTOM / OVERWRITES
-------------------- 
*/
/* Template 4 */
body {
  background: url(../img/t4/t4bg.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  background-size: cover; }

#main .container {
  padding: 20px;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFFFFFFF,endColorstr=#BFFFFFFF);
  /* IE6 & 7 */
  zoom: 1;
  background: rgba(255, 255, 255, 0.7); }
