/*
Caution: alert-yellow
Warning: alert-red
Info: alert-blue
Success: alert-green
*/

.alert {
  padding: rem(16px);
  margin: rem(16px) 0;
  line-height:inherit;
  font-size: $font-size;
  border: none;
  border-radius: $br;
  // Alert Close
  .icon {
    float:left;
    font-size: $font-size;
    margin-right: 10px;
  }
  .close {
    float: right;
    cursor: pointer;
    @extend .utf8;
    &:before {
      content: "\00d7";
    }
  }
  .bold {
    color:inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    display:inline-block;
    color: inherit;
  }
  a {
    font-weight: 400;
  }
  p, ul {
    margin-bottom: 0;
    padding:0;
  }
  p + p {
    margin-top: 5px;
  }
}

// Labels

.label, .badge {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 50%;
  font-weight: bold;
  font-family: $font;
  line-height: $lh;
  color: $white;
  text-align: center;
  white-space: nowrap;
  vertical-align: 20%;
  border-radius: $br;
  &[href] {
    &:hover,
    &:focus {
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }
  &:empty {
    display: none;
  }
  .btn & {
    position: relative;
    top: -1px;
  }
}
.badge {
  border-radius: 50%;
}