*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html,
button,
input,
select,
textarea,
body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding:0;
  margin:0;
}

body {
  color: $text-color;
  background: $bg-color;
  font-weight: 400;
  font-size: $font-size;
}

img {
  vertical-align: middle;
}

// Horizontal rules

hr {
  margin-top:    $lh;
  margin-bottom: $lh;
  border: 0;
  border-top: 1px solid $gray;
}


