// Basic Button
// -----------------

.btn {
  display: inline-block;
  color: $white;
  font-family: inherit;
  font-size: $font-size;
  font-weight: 700;
  padding: rem(10px) rem(16px);
  line-height: 1.4;
  white-space: nowrap;
  white-space-collapse: discard;
  @include user-select(none);
  @include border-radius($br);
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  border: none rgba(0, 0, 0, 0);
  background-image: none;
  overflow: hidden;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    color:$white;
  }
}

// Ghost Colors

.btn-ghost-dark {
  color: $black;
  border: 1px solid $black;
  background-color:none;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color:$black;
    background-color: rgba(100,100,100,0.1);
    text-decoration:none;
  }
}

.btn-ghost {
  color: $white;
  border: 1px solid $white;
  background-color:none;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: rgba(100,100,100,0.1);
    text-decoration:none;
  }
}

// Other Sizes
// -----------------

.btn-lg {
  @include button-size( $padding-vertical: rem(14px), $padding-horizontal: rem(20px), $font-size: $font-size*1.25, $line-height: 1.4, $border-radius: $br)
}

.btn-sm {
	@include button-size( $padding-vertical: rem(8px), $padding-horizontal: rem(12px), $font-size: $font-size*0.75, $line-height: 1.4, $border-radius: $br);
}

// Block Button
// -----------------

.btn-block {
  display: block !important;
  width: 100%;
  margin-right:0;
  margin-bottom: 1em * .25;
  padding-left: 0;
  padding-right: 0;
}

.btn-flex {
  @include bp(mobile) {
    display: block !important;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
}

// Button Grouping
// ------------------

.btn-group {
  position: relative;
  margin-right: 0 !important;
  display: inline-block;
  vertical-align: middle;
  .btn {
    position: relative;
    float: left;
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
    &:focus {
      outline: none;
    }
  }
}
.btn-group .btn:not(:last-child) {
  border-right:1px solid rgba(0,0,0,0.1);
}
.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group .btn:first-child {
  margin-left: 0;
  &:not(:last-child) {
    @include border-right-radius(0);
  }
}
.btn-group .btn:last-child:not(:first-child) {
  @include border-left-radius(0);
}
.btn-group .btn-group {
  float: left;
}
.btn-group .btn-group:not(:first-child):not(:last-child) .btn {
  border-radius: 0;
}
.btn-group .btn-group:first-child {
  .btn:last-child {
    @include border-right-radius(0);
  }
}
.btn-group .btn-group:last-child .btn:first-child {
  @include border-left-radius(0);
}

.btn-group-lg .btn { @extend .btn-lg; }
.btn-group-sm .btn { @extend .btn-sm; }


// Justified button groups
// ----------------------

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  .btn {
    float: none;
    display: table-cell;
    width: 1%;
  }
}

// Vertical Button Groups
// ----------------------

.btn-group-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  &:first-child:not(:last-child) {
    border-top-right-radius: $br;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:last-child:not(:first-child) {
    border-bottom-left-radius: $br;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
