@if $gform == y {
    .ss-form {
      width:100%;
      float:none;
      padding:0;
      input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]), select {
        padding: rem(10px) rem(16px);
        font-size: $font-size;
        display: block;
        border: 1px solid $form-color;
        border-radius: $br;
        transition: border .3s ease-in-out;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:focus {
          outline: 0;
          border-color: $form-focus;
        }
        &[disabled] {
          cursor: not-allowed;
          background-color: $silver;
          color: $form-color;
        }
      }
      .ss-q-help {
      font-size: 0.75rem;
      font-style: italic;
      color: $gray;
    }

    .ss-q-title {
      margin: rem(8px) 0 rem(4px);
      @include bp(mobile) {
        display:block;
        margin: rem(4px) 0;
      }
    }
    .ss-choice-label {
      font-weight:normal;
    }
    .required-message {
      display:none;
    }
    .goog-inline-block {
      display:inline-block;
    }
    .ss-required-asterisk {
      color:$red;
    }
    .ss-form-question {
      margin-bottom: rem(10px);
      table {
        @extend .table;
        thead {
          background: lighten($silver, 10%);
        }
      }
    }
    .error {
      color:$red;
      font-size: rem(12px);
      font-weight:400;
      .gError {
        margin-bottom:0;
      }
    }
  }
}