// Container Settings

section {
  width: 100%;
}

.clearfix {
  zoom: 1;
  &:before, 
  &:after {
    content: " ";
    display: table; 
  }
  &:after {
    clear: both; 
  }
}

.container {
  width: 100%;
  max-width: $maxWidth;
  margin: 0 auto;
  position: relative;
}

.group {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  margin-bottom: 1em;
  .group {
    margin-left: -1 * $gutter;
    margin-right: -1 * $gutter;
  }
}


// The Grid

%grid {
  margin: $gutter;
  float:left;
  min-height:1px;
  width: 100% - (2 * $gutter);
}

%input {
  width: 100%;
}

@for $i from 1 through $columns {
  .d#{$i} {
    @extend %grid;
  }
  .i#{$i} {
    @extend %input;
  }
}

@include bp(mobile) {
  @for $i from 1 through $columns {
    .m#{$i} {
      width: ($col-width * $i) - (2 * $gutter);
    }
  }
}

@include bp(desktop) {
  @for $i from 1 through $columns {
    .d#{$i} {
      width: ($col-width * $i) - (2 * $gutter);
    }
    .i#{$i} {
      width: ($col-width * $i);
    }
    .o#{$i} {
      margin-left: ($col-width * $i) + $gutter;
    }
  }
  .flip {
    float: right;  // Change orientation of grids from Desktop to Mobile sizes.
  }
}