// Lists
// --------------------

ul,
ol {
  margin-top: 0;
  margin-bottom: rem(10px);
  ul,
  ol{
    margin-bottom: 0;
  }
}

ul, ol, dl {
  p.list-label {
    font-size: $font-size * 1.2;
    font-weight: 700;
    font-family: $font;
  }
}

ul.list-default {
  list-style: disc;
  li {
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
    position:relative;
    font-size:$font-size;
  }
}

// Ordered Lists

ol.list-default {
  list-style: upper-alpha;
  li {
    margin-bottom: 0.5rem;
    margin-left: 1.2rem;
    position:relative;
    font-size:$font-size;
  }
}

ol.list-counter {
  list-style:none;
  counter-reset: bot-counter;
  li{
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    position:relative;
    font-size:$font-size;
    &:before {
      content: counter(bot-counter);
      counter-increment: bot-counter;
      position: absolute;
      left:-2rem;
      top:0;
      text-align:center;
      vertical-align:middle;
      width:1.25rem;
      font-family:$font;
      font-weight:700;
      line-height:1.4em;
      height:1.25rem;
      font-size:14px;
      border-radius:50%;
      background-color:$gray;
      color:$white;
    }
  }
}


ol.list-counter.counter-red > li:before {
  background-color:$red;
}
ol.list-counter.counter-blue > li:before {
  background-color:$blue;
}
ol.list-counter.counter-yellow > li:before {
  background-color:$yellow;
}
ol.list-counter.counter-green > li:before {
  background-color:$green;
}

// List options

.list-nostyle {
  padding-left: 0;
  list-style: none;
  font-size:$font-size;
  li {
    margin-bottom: 0.5rem;
  }
}

.list-inline {
  @extend .list-nostyle;
  li {
    display: inline-block;
    position:relative;
    padding-left: 5px;
    padding-right: 5px;
  }
  li:first-of-type {
    padding-left:0 !important;
  }
}

// Inline w/ Dots

ul.list-inline.dots {
  li:after {
    content: "\2022";
    color:#aaa;
    position: absolute;
    top:2px;
    right: -5px;
    font-size: 12px;
  }
  li {
    padding-left: 8px;
    padding-right: 8px;
  }
  li:first-child {
    padding-left:0;
  }
  li:last-child:after{
    content:"";
  }
}

// List Leaders

ul.list-leader {
  overflow-x:hidden;
  list-style:none;
  font-size:$font-size;
  li {
    line-height: 1.2;
    margin-bottom: 0.8rem;
    &:before{
      float:left;
      width:0;
      white-space:no-wrap;
      color: $gray;
      content: "........................................................................................................................................................................................................................................................................";
      font-size: rem(12px);
      line-height:inherit;
    }
    span:first-child{
      background:#fff;
      padding-right: 0.8rem;
    }
    span + span {
      float:right;
      background:#fff;
      padding-left:0.8rem;
    }
    span {
      line-height:inherit;
    }
  }
}

// Description Lists
dl {
  margin-bottom: 1.5;
  font-size:$font-size;
}
dl.small {
  font-size: $font-size * 0.85;
}
dt,
dd {
  line-height: $lh;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
  margin-bottom:1rem;
}

// Horizontal description lists

@media only screen and (min-width: $break) {
  .dl-horizontal {
    dt {
      float: left;
      clear: left;
      text-align: right;
      @include text-overflow;
    }
    dd {
      margin-left: 6rem;
      @include clearfix; 
    }
  }
}

// Media Content

.media-list{
  font-size:inherit;
  line-height:inherit;
  list-style:none;
  &.rows {
    h1, h2, h3, h4, h5, h6, p {
      margin:0;
    }
    p+button, p+.btn {
      margin-top: rem(12px);
    }
    li {
      margin:0;
      border-top: 1px dotted $gray;
      &:last-child {
        border-bottom: 1px dotted $gray;
      }
    }
    .media {
      padding: rem(20px) 0;
      margin:0;
      .media-img [class^="icon-"]{
        font-size:$h1-size;
        padding-left:rem(2px);
      }
    }
    &.no-border li{
      border-top:none;
    }
  } 
  li {
    display:list-item;
    margin: 0 0 rem(12px) 0;
  }
  .media {
    .left {
      padding-right: rem(16px);
    }
    .right {
      padding-left: rem(16px);
    }
    .media-img {
      float:left;
      margin-right: rem(16px);
      img {
        display:block;
      }
    }
  }
}
.media, .media-content {
  overflow: hidden;
 _overflow: visible;
  zoom: 1;
}
ol.media-list {
  counter-reset:li;
  margin-left:0;
  [class*="grid-"] {
    padding: 0 $gutter;
  }
  li {
    position:relative;
    list-style:none;
    padding-left:rem(60px);
    &:before {
      content:counter(li);
      counter-increment:li;
      position:absolute;
      top:26px;
      left:0;
      width:42px;
      height:42px;
      padding-top:rem(7px);
      border-radius:50%;
      color: $white;
      background: lighten($gray, 15%);
      font-size:$h3-size;
      font-weight:bold;
      text-align:center;
    }
  }
}