// Pure CSS Mobile Menu

/*
<div class="mobile-menu">
    <div>
        <input id="mbl" name="mbl-menu" type="checkbox" />
        <label for="mbl"><!-- Logo Text or image --><span class="open-menu your-icon"></span></label>
        <div class="article">
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</div> 
*/


.mobile-menu {
  display: none; 
}
@media only screen and (max-width: $break) {
  .mobile-menu {
    display: block; 
    }
}

.mobile-menu {
    width:100%;
    label {
        padding:5px 20px;
        margin:0;
        position:relative;
        z-index:1030;
        height:50px;
        display:block;
        cursor: pointer;
        color: $mobile-text;
        background: $mobile-bg;
        font-size: rem(28px);
        img {
            float:left;
            margin-left:8px;
            margin-top: 8px;
        }
        span.open-menu {
            color: rgba(255, 255, 255, 0.6);
            float:right;
            padding-right:8px;
            padding-top:6px;
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    input {
        display:none;
    }
    .article {
        margin-top:-1px;
        overflow:hidden;
        height:0px;
        position:relative;
        z-index:0;
        transition: height 0.3s ease-in-out;
        ul {
            background: lighten($mobile-bg, 5%);
            height:100%;
            overflow:auto;
            li {
                padding: 12px;
                border-bottom:1px solid lighten($mobile-bg, 8%);
                &:first-child {
                    padding-top: 15px;
                }
                &:hover {
                    background: lighten($mobile-bg, 8%);
                }
                a {
                    color: $white;
                    font-size: rem(14px);
                    font-weight:bold;
                }
            }
        }
    }
    input:checked ~ .article {
        transition: height 0.5s ease-in-out;
        height: $mobile-hgt;
    }
}