@if $priceTable == y {

  $priceTitleColor: #ccc;

  div.groupPrice {
    margin:20px 0;
    .columns {
      padding:0;
      margin:0;
    }
    .threePack {
      width:33%;
    }
    .fourPack {
      width:25%;
    }
    .twoPack {
      width:50%;
    }
    .threePack, .twoPack, .fourPack {
      float:left;
      min-height:1px;
      @media screen and (max-width:$break){
        width:100%;
      }
    }
    ul.pricing {
      text-align:center;
      border:1px solid darken($priceTitleColor, 7%);
      margin-bottom:0;
    }
    li.title {
      background:$priceTitleColor;
      padding: 15px;
      font-size:16px;
      font-weight:bold;
    }
    li.price {
      background:lighten($priceTitleColor, 15%);
      padding:20px;
      font-size:24px;
      font-weight:300;
    }
    li.desc{
      padding:15px;
      background:$white;
      font-size:12px;
      font-weight:300;
      border-bottom:1px solid darken($priceTitleColor, 7%);
    }
    li.bullet {
      padding:12px;
      font-size:14px;
      font-weight:400;
      border-bottom:1px solid darken($priceTitleColor, 7%);
    }
    li.choose {
      background:lighten($priceTitleColor, 15%);
      padding:20px;
    }
    @media screen and (min-width:$break){
      ul.firstPrice {
        border-right:0;
      }
      ul.lastPrice {
        border-left:0;
      }
    }
    div.recommended { 
      box-shadow: 0 0 10px rgba(0,0,0,0.25); position: relative; z-index: 2; 
    }
  }
}