// -------------------
// IMPORTANT VARIABLES
// -------------------

// Features Chosen
// -------------------------------

$slider: n;			$modal: n;
$priceTable: n;		$captions: n;
$animation: n;		$gform: n;


// Most things are displayed in rem, but can be changed by edited the pixel value in the ().

// Widths

$break:       	rem(768px);        	// Main breakpoint between "Desktop" and "Mobile" views
$maxWidth:    	rem(1200px);       	// Maximum width of .container class

// Grid Settings

$columns:     	12;
$col-width:   	100% / $columns;
$gutter:      	2%;

// Border Radius

$br:		  	rem(0px);


// Color List

$cyan:  		#7FDBFF;
$blue:  		#0074D9;
$navy:  		#001F3F;
$teal:  		#39CCCC;
$green: 		#2ECC40;
$olive: 		#3D9970;
$lime:  		#01FF70;
$yellow:  		#FFDC00;
$orange:  		#FF851B;
$red:     		#FF4136;
$magenta: 		#F012BE;
$purple:  		#B10DC9;
$maroon:  		#85144B;
$white:  		#FFF;
$silver: 		#DDD;
$gray:   		#999;
$black:  		#222;

// Text Stuff

$font-size: 	rem(14px);
$heading-size:	rem(42px);
$text-color:	lighten($black, 7%);
$link-color:	darken($cyan, 10%);
$lh:			1.6;			// Line Height

$sans-serif:	"Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:			"Roboto Slab", Georgia, "Palatino Linotype", "Book Antiqua", "Palatino", Times, serif;
$mono:			'Monaco', 'Menlo', 'Consolas', 'Courier New', Courier, monospace;

$font: 			$sans-serif;	// Default font choice for all text in the pages.


// Body Background

$bg-color:		#FEFEFE;

// Menu / Nav

$nav-color: 	$gray;
$nav-hover:		$silver;
$nav-active: 	$nav-color;
$nav-bg:		$bg-color;
$nav-bdr:		$bg-color;
$nav-height:	rem(44px);	//For Horizontal menu only and only important for dropdowns. Might take some console work to estimate height.

// Form

$form-color:	$white;
$form-focus:	$green;

// Tables

$tbl-bg:		$white;
$tbl-text:		$black;
$tbl-bdr:		$form-color;
$tbl-hover:		$silver;
$tbl-padding: 	rem(8px);

// Mobile Menu

$mobile-text:	$white;
$mobile-bg:		$gray;
$mobile-hgt:	275px;

// Slider Pagination

$slider-pag-color: $gray;