// Headings


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-weight: 400;
	margin-bottom: rem(10px);
	small, .small {
    font-weight: 300;
    line-height: 1;
    color: lighten($text-color, 20%);
    font-size: 75%;
	}
}

$h1-size:      $heading-size;                  // 36px
$h2-size:      $h1-size / 1.2;                 // 30px
$h3-size:      $h1-size / 1.5;                 // 24px
$h4-size:      $h1-size / 2;                   // 18px
$h5-size:      $h1-size / 2.25;                // 16px
$h6-size:      $h1-size / 2.57;                // 14px


h1, .h1 {
	font-size: $h1-size;
	line-height: $lh - 0.4;
}
h2, .h2 {
	font-size: $h2-size;
	line-height: $lh - 0.4;
}
h3, .h3 {
	font-size: $h3-size;
	line-height: $lh - 0.4;
}
h4, .h4 {
	font-size: $h4-size;
	line-height: $lh - 0.2;
}
h5, .h5 {
	font-size: $h5-size;
	line-height: $lh - 0.2;
}
h6, .h6 {
	font-size: $h6-size;
	line-height: $lh - 0.2;
}



// Paragraph

p {
	font-size: $font-size;
	line-height: $lh;
	margin-bottom: rem(18px);
	&.last-p {
		margin-bottom: rem(35px);
	}
}

p, span {
	&.xlarge {
		font-size: $font-size * 1.25;
		line-height: $lh * 1.3;
	}
	&.large {
		font-size: $font-size * 1.1428;
		line-height: $lh * 1.2;
	}
	&.small {
		font-size: $font-size * 0.857;
	}
}

// Links

a {
	color: $link-color; 
	text-decoration: none;
	background: transparent;
  	transition: color .3s ease-in-out;
	&:active  { 
		color: $orange; 
	}
	&:hover, &:focus   { 
		color: darken($link-color, 10%);
		text-decoration: underline;
		outline: 0;
	}
	&:focus {
		outline: thin dotted;
	}
}


// Helpful Text Classes

.italic {
	font-style: italic;
	color: lighten($text-color, 10%);
}
.bold {
	font-weight: 700;
	color: darken($text-color, 10%);
}
.normal {
	font-weight: 400;
}
.spacing {
	letter-spacing: 3px;
	word-spacing: 5px;
}
.underline {
	text-decoration:underline;
}
.caps {
	text-transform: uppercase;
}
.fancy:before {
	content: "\274B  ";
	font-size: inherit;
	color:inherit;
}
.req:after {
  content: " *";
  color: $red;
}
.arrow:after {
	content: "\279E";
}
.utf8 { font-family: "Lucida Grande", "Arial Unicode MS", sans-serif; }
.mono { font-family: $mono; }
.sans-serif { font-family: $sans-serif;}
.serif { font-family: $serif; }

// Potent Potables

q {
  	quotes: "\201C" "\201D" "\2018" "\2019";
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Keystroke

.key, kbd {
  background-color: lighten($link-color, 15%);
  color: adjust-color($link-color, $saturation: -25%, $lightness: -25%);
  padding:3px;
  border-radius:3px;
  font-family: $mono;
}
