// Well well, what do we have here?

.well {
  min-height: rem(20px);
  padding: rem(20px);
  margin-bottom: rem(16px);
  background-color: $silver;
  border: 1px solid darken($silver, 15%);
  border-radius: $br;
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: $font-size * 1.6;
  border-radius: $br;
}
.well-sm {
  padding: $font-size * 0.75;
  border-radius: $br;
}