/*
Adapted from GridBot + StyleBot
(c) 2014 lucaspark
Licensed Under the MIT License.
https://github.com/lucaspark/gridbot
*/
// -- MIXIN IMPORT --

@import "mixins";

// -- VARIABLES IMPORT --

@import "t2var";

/*
--------------------
RESET EVERYTHING
--------------------
*/

@import "reset";

/*
--------------------
COLOR FUNCTIONS
--------------------
*/

@import "colors";

/*
--------------------
HTML / BODY
--------------------
*/

@import "body";

/*
--------------------
GRID
--------------------
*/

@import "grid";

/*
--------------------
HELPFUL CLASSES
--------------------
*/

@import "utils";

/*
--------------------
TYPOGRAPHY
--------------------
*/

@import "type";

/*
--------------------
BUTTONS
--------------------
*/

@import "button";


/*
--------------------
FORMS
--------------------
*/

@import "forms";

/*
--------------------
NAV and MENU
--------------------
*/

@import "nav";

/*
--------------------
TABLES
--------------------
*/

@import "tables";

/*
--------------------
ALERTS and WELLS
--------------------
*/

@import "alerts";
@import "wells";

/*
--------------------
PAGINATION
--------------------
*/

@import "pagination";


/*
--------------------
MOBILE MENU
--------------------
*/

@import "mobile";

/*
--------------------
LISTS
--------------------
*/

@import "lists";

/*
--------------------
MODAL
--------------------
*/

@import "modal";

/*
--------------------
SLIDER
--------------------
*/

@import "slider";

/*
--------------------
PRICE TABLE
--------------------
*/

@import "price";

/*
--------------------
ANIMATION
--------------------
*/

@import "animation";

/*
--------------------
CAPTIONS
--------------------
*/

@import "captions";

/*
--------------------
GOOGLE FORMS
--------------------
*/

@import "gform";

/*
--------------------
CUSTOM / OVERWRITES
--------------------
*/

/* Template 2 */

body {
   margin-top:0px;
}
#navigation {
	padding-top:20px;
}
#bg {
	position:relative;
	width:100%;
	max-width:1400px;
	margin:0 auto;
}

.bgHolder {
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	padding-top:40%;
	height:560px;
	background: url('../img/t2/headerSample.jpg') no-repeat;
	background-position:center;
	background-size:cover;
	-moz-background-size:cover;
}
.hero {
	padding:10px;
	margin: 50px 0;
	color:$white;
	background: transparent;
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8 */
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);   /* IE6 & 7 */
    zoom: 1;
    background: rgba(0, 0, 0, 0.3);
	h1 {
	font-size: 48px;
	margin-bottom:0px;
	@media screen and (max-width:$break){
		font-size: 42px;
		}
	}
}
.heroFront {
	padding-top:20px;
	background:$white;
	@media screen and (max-width:$break){
		padding-left:20px;
		padding-right:20px;
	}
}
#heroText {
	padding-top:20px;
}
.brand {
	color:$white;
}
.grid-4 img {
	margin:0 auto;
}
