/*
-----------------------
        COLORS
-----------------------
*/
/*
-----------------------
  CUSTOM BUTTON COLORS
-----------------------
*/
/* line 58, ../sass/_colors.scss */
.btn-navy {
  background-color: #001F3F;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-navy:hover, .btn-navy:focus, .btn-navy:active, .btn-navy.active, .open > .btn-navy.dropdown-toggle {
  background-color: #000b16;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-navy:active, .btn-navy.active, .open > .btn-navy.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-navy.disabled, .btn-navy.disabled:hover, .btn-navy.disabled:focus, .btn-navy.disabled:active, .btn-navy.disabled.active, .btn-navy[disabled], .btn-navy[disabled]:hover, .btn-navy[disabled]:focus, .btn-navy[disabled]:active, .btn-navy[disabled].active, fieldset[disabled] .btn-navy, fieldset[disabled] .btn-navy:hover, fieldset[disabled] .btn-navy:focus, fieldset[disabled] .btn-navy:active, fieldset[disabled] .btn-navy.active {
  background-color: #001F3F;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-navy .badge {
  background-color: #001F3F;
}

/* line 58, ../sass/_colors.scss */
.btn-blue {
  background-color: #0074D9;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
  background-color: #005eb0;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-blue:active, .btn-blue.active, .open > .btn-blue.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-blue.disabled, .btn-blue.disabled:hover, .btn-blue.disabled:focus, .btn-blue.disabled:active, .btn-blue.disabled.active, .btn-blue[disabled], .btn-blue[disabled]:hover, .btn-blue[disabled]:focus, .btn-blue[disabled]:active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue, fieldset[disabled] .btn-blue:hover, fieldset[disabled] .btn-blue:focus, fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue.active {
  background-color: #0074D9;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-blue .badge {
  background-color: #0074D9;
}

/* line 58, ../sass/_colors.scss */
.btn-cyan {
  background-color: #7FDBFF;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-cyan:hover, .btn-cyan:focus, .btn-cyan:active, .btn-cyan.active, .open > .btn-cyan.dropdown-toggle {
  background-color: #56d0ff;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-cyan:active, .btn-cyan.active, .open > .btn-cyan.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-cyan.disabled, .btn-cyan.disabled:hover, .btn-cyan.disabled:focus, .btn-cyan.disabled:active, .btn-cyan.disabled.active, .btn-cyan[disabled], .btn-cyan[disabled]:hover, .btn-cyan[disabled]:focus, .btn-cyan[disabled]:active, .btn-cyan[disabled].active, fieldset[disabled] .btn-cyan, fieldset[disabled] .btn-cyan:hover, fieldset[disabled] .btn-cyan:focus, fieldset[disabled] .btn-cyan:active, fieldset[disabled] .btn-cyan.active {
  background-color: #7FDBFF;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-cyan .badge {
  background-color: #7FDBFF;
}

/* line 58, ../sass/_colors.scss */
.btn-teal {
  background-color: #39CCCC;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-teal:hover, .btn-teal:focus, .btn-teal:active, .btn-teal.active, .open > .btn-teal.dropdown-toggle {
  background-color: #2dafaf;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-teal:active, .btn-teal.active, .open > .btn-teal.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-teal.disabled, .btn-teal.disabled:hover, .btn-teal.disabled:focus, .btn-teal.disabled:active, .btn-teal.disabled.active, .btn-teal[disabled], .btn-teal[disabled]:hover, .btn-teal[disabled]:focus, .btn-teal[disabled]:active, .btn-teal[disabled].active, fieldset[disabled] .btn-teal, fieldset[disabled] .btn-teal:hover, fieldset[disabled] .btn-teal:focus, fieldset[disabled] .btn-teal:active, fieldset[disabled] .btn-teal.active {
  background-color: #39CCCC;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-teal .badge {
  background-color: #39CCCC;
}

/* line 58, ../sass/_colors.scss */
.btn-olive {
  background-color: #3D9970;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-olive:hover, .btn-olive:focus, .btn-olive:active, .btn-olive.active, .open > .btn-olive.dropdown-toggle {
  background-color: #317c5b;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-olive:active, .btn-olive.active, .open > .btn-olive.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-olive.disabled, .btn-olive.disabled:hover, .btn-olive.disabled:focus, .btn-olive.disabled:active, .btn-olive.disabled.active, .btn-olive[disabled], .btn-olive[disabled]:hover, .btn-olive[disabled]:focus, .btn-olive[disabled]:active, .btn-olive[disabled].active, fieldset[disabled] .btn-olive, fieldset[disabled] .btn-olive:hover, fieldset[disabled] .btn-olive:focus, fieldset[disabled] .btn-olive:active, fieldset[disabled] .btn-olive.active {
  background-color: #3D9970;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-olive .badge {
  background-color: #3D9970;
}

/* line 58, ../sass/_colors.scss */
.btn-green {
  background-color: #2ECC40;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open > .btn-green.dropdown-toggle {
  background-color: #26ab36;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-green:active, .btn-green.active, .open > .btn-green.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-green.disabled, .btn-green.disabled:hover, .btn-green.disabled:focus, .btn-green.disabled:active, .btn-green.disabled.active, .btn-green[disabled], .btn-green[disabled]:hover, .btn-green[disabled]:focus, .btn-green[disabled]:active, .btn-green[disabled].active, fieldset[disabled] .btn-green, fieldset[disabled] .btn-green:hover, fieldset[disabled] .btn-green:focus, fieldset[disabled] .btn-green:active, fieldset[disabled] .btn-green.active {
  background-color: #2ECC40;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-green .badge {
  background-color: #2ECC40;
}

/* line 58, ../sass/_colors.scss */
.btn-lime {
  background-color: #01FF70;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-lime:hover, .btn-lime:focus, .btn-lime:active, .btn-lime.active, .open > .btn-lime.dropdown-toggle {
  background-color: #00d75e;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-lime:active, .btn-lime.active, .open > .btn-lime.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-lime.disabled, .btn-lime.disabled:hover, .btn-lime.disabled:focus, .btn-lime.disabled:active, .btn-lime.disabled.active, .btn-lime[disabled], .btn-lime[disabled]:hover, .btn-lime[disabled]:focus, .btn-lime[disabled]:active, .btn-lime[disabled].active, fieldset[disabled] .btn-lime, fieldset[disabled] .btn-lime:hover, fieldset[disabled] .btn-lime:focus, fieldset[disabled] .btn-lime:active, fieldset[disabled] .btn-lime.active {
  background-color: #01FF70;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-lime .badge {
  background-color: #01FF70;
}

/* line 58, ../sass/_colors.scss */
.btn-yellow {
  background-color: #FFDC00;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open > .btn-yellow.dropdown-toggle {
  background-color: #d6b900;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-yellow:active, .btn-yellow.active, .open > .btn-yellow.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-yellow.disabled, .btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled:active, .btn-yellow.disabled.active, .btn-yellow[disabled], .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled]:active, .btn-yellow[disabled].active, fieldset[disabled] .btn-yellow, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow:active, fieldset[disabled] .btn-yellow.active {
  background-color: #FFDC00;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-yellow .badge {
  background-color: #FFDC00;
}

/* line 58, ../sass/_colors.scss */
.btn-orange {
  background-color: #FF851B;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open > .btn-orange.dropdown-toggle {
  background-color: #f17000;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-orange:active, .btn-orange.active, .open > .btn-orange.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-orange.disabled, .btn-orange.disabled:hover, .btn-orange.disabled:focus, .btn-orange.disabled:active, .btn-orange.disabled.active, .btn-orange[disabled], .btn-orange[disabled]:hover, .btn-orange[disabled]:focus, .btn-orange[disabled]:active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange, fieldset[disabled] .btn-orange:hover, fieldset[disabled] .btn-orange:focus, fieldset[disabled] .btn-orange:active, fieldset[disabled] .btn-orange.active {
  background-color: #FF851B;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-orange .badge {
  background-color: #FF851B;
}

/* line 58, ../sass/_colors.scss */
.btn-red {
  background-color: #FF4136;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open > .btn-red.dropdown-toggle {
  background-color: #ff1a0d;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-red:active, .btn-red.active, .open > .btn-red.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-red.disabled, .btn-red.disabled:hover, .btn-red.disabled:focus, .btn-red.disabled:active, .btn-red.disabled.active, .btn-red[disabled], .btn-red[disabled]:hover, .btn-red[disabled]:focus, .btn-red[disabled]:active, .btn-red[disabled].active, fieldset[disabled] .btn-red, fieldset[disabled] .btn-red:hover, fieldset[disabled] .btn-red:focus, fieldset[disabled] .btn-red:active, fieldset[disabled] .btn-red.active {
  background-color: #FF4136;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-red .badge {
  background-color: #FF4136;
}

/* line 58, ../sass/_colors.scss */
.btn-magenta {
  background-color: #F012BE;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-magenta:hover, .btn-magenta:focus, .btn-magenta:active, .btn-magenta.active, .open > .btn-magenta.dropdown-toggle {
  background-color: #cc0da1;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-magenta:active, .btn-magenta.active, .open > .btn-magenta.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-magenta.disabled, .btn-magenta.disabled:hover, .btn-magenta.disabled:focus, .btn-magenta.disabled:active, .btn-magenta.disabled.active, .btn-magenta[disabled], .btn-magenta[disabled]:hover, .btn-magenta[disabled]:focus, .btn-magenta[disabled]:active, .btn-magenta[disabled].active, fieldset[disabled] .btn-magenta, fieldset[disabled] .btn-magenta:hover, fieldset[disabled] .btn-magenta:focus, fieldset[disabled] .btn-magenta:active, fieldset[disabled] .btn-magenta.active {
  background-color: #F012BE;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-magenta .badge {
  background-color: #F012BE;
}

/* line 58, ../sass/_colors.scss */
.btn-purple {
  background-color: #B10DC9;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open > .btn-purple.dropdown-toggle {
  background-color: #8f0ba3;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-purple:active, .btn-purple.active, .open > .btn-purple.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-purple.disabled, .btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled], .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
  background-color: #B10DC9;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-purple .badge {
  background-color: #B10DC9;
}

/* line 58, ../sass/_colors.scss */
.btn-maroon {
  background-color: #85144B;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-maroon:hover, .btn-maroon:focus, .btn-maroon:active, .btn-maroon.active, .open > .btn-maroon.dropdown-toggle {
  background-color: #620f37;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-maroon:active, .btn-maroon.active, .open > .btn-maroon.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-maroon.disabled, .btn-maroon.disabled:hover, .btn-maroon.disabled:focus, .btn-maroon.disabled:active, .btn-maroon.disabled.active, .btn-maroon[disabled], .btn-maroon[disabled]:hover, .btn-maroon[disabled]:focus, .btn-maroon[disabled]:active, .btn-maroon[disabled].active, fieldset[disabled] .btn-maroon, fieldset[disabled] .btn-maroon:hover, fieldset[disabled] .btn-maroon:focus, fieldset[disabled] .btn-maroon:active, fieldset[disabled] .btn-maroon.active {
  background-color: #85144B;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-maroon .badge {
  background-color: #85144B;
}

/* line 58, ../sass/_colors.scss */
.btn-white {
  background-color: #FFF;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open > .btn-white.dropdown-toggle {
  background-color: #ebebeb;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-white:active, .btn-white.active, .open > .btn-white.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white[disabled].active, fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
  background-color: #FFF;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-white .badge {
  background-color: #FFF;
}

/* line 58, ../sass/_colors.scss */
.btn-gray {
  background-color: #555555;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-gray:hover, .btn-gray:focus, .btn-gray:active, .btn-gray.active, .open > .btn-gray.dropdown-toggle {
  background-color: #414141;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-gray:active, .btn-gray.active, .open > .btn-gray.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-gray.disabled, .btn-gray.disabled:hover, .btn-gray.disabled:focus, .btn-gray.disabled:active, .btn-gray.disabled.active, .btn-gray[disabled], .btn-gray[disabled]:hover, .btn-gray[disabled]:focus, .btn-gray[disabled]:active, .btn-gray[disabled].active, fieldset[disabled] .btn-gray, fieldset[disabled] .btn-gray:hover, fieldset[disabled] .btn-gray:focus, fieldset[disabled] .btn-gray:active, fieldset[disabled] .btn-gray.active {
  background-color: #555555;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-gray .badge {
  background-color: #555555;
}

/* line 58, ../sass/_colors.scss */
.btn-silver {
  background-color: #eeeeee;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-silver:hover, .btn-silver:focus, .btn-silver:active, .btn-silver.active, .open > .btn-silver.dropdown-toggle {
  background-color: #dadada;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-silver:active, .btn-silver.active, .open > .btn-silver.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-silver.disabled, .btn-silver.disabled:hover, .btn-silver.disabled:focus, .btn-silver.disabled:active, .btn-silver.disabled.active, .btn-silver[disabled], .btn-silver[disabled]:hover, .btn-silver[disabled]:focus, .btn-silver[disabled]:active, .btn-silver[disabled].active, fieldset[disabled] .btn-silver, fieldset[disabled] .btn-silver:hover, fieldset[disabled] .btn-silver:focus, fieldset[disabled] .btn-silver:active, fieldset[disabled] .btn-silver.active {
  background-color: #eeeeee;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-silver .badge {
  background-color: #eeeeee;
}

/* line 58, ../sass/_colors.scss */
.btn-black {
  background-color: #222;
  color: #FFF;
}
/* line 61, ../sass/_colors.scss */
.btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open > .btn-black.dropdown-toggle {
  background-color: #0e0e0e;
  text-decoration: none;
  color: #FFF;
}
/* line 70, ../sass/_colors.scss */
.btn-black:active, .btn-black.active, .open > .btn-black.dropdown-toggle {
  background-image: none;
  color: #FFF;
}
/* line 79, ../sass/_colors.scss */
.btn-black.disabled, .btn-black.disabled:hover, .btn-black.disabled:focus, .btn-black.disabled:active, .btn-black.disabled.active, .btn-black[disabled], .btn-black[disabled]:hover, .btn-black[disabled]:focus, .btn-black[disabled]:active, .btn-black[disabled].active, fieldset[disabled] .btn-black, fieldset[disabled] .btn-black:hover, fieldset[disabled] .btn-black:focus, fieldset[disabled] .btn-black:active, fieldset[disabled] .btn-black.active {
  background-color: #222;
  color: #FFF;
}
/* line 88, ../sass/_colors.scss */
.btn-black .badge {
  background-color: #222;
}

/*
-----------------------
    CUSTOM BG COLORS
-----------------------
*/
/* Background Colors */
/* line 102, ../sass/_colors.scss */
.bg-navy {
  background-color: #166bc2;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-navy.bg-indent {
  border-left: rem(5px) solid #001F3F;
}

/* line 102, ../sass/_colors.scss */
.bg-blue {
  background-color: #81bdf1;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-blue.bg-indent {
  border-left: rem(5px) solid #0074D9;
}

/* line 102, ../sass/_colors.scss */
.bg-cyan {
  background-color: white;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-cyan.bg-indent {
  border-left: rem(5px) solid #7FDBFF;
}

/* line 102, ../sass/_colors.scss */
.bg-teal {
  background-color: #bce2e2;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-teal.bg-indent {
  border-left: rem(5px) solid #39CCCC;
}

/* line 102, ../sass/_colors.scss */
.bg-olive {
  background-color: #a7c8b9;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-olive.bg-indent {
  border-left: rem(5px) solid #3D9970;
}

/* line 102, ../sass/_colors.scss */
.bg-green {
  background-color: #b2e1b8;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-green.bg-indent {
  border-left: rem(5px) solid #2ECC40;
}

/* line 102, ../sass/_colors.scss */
.bg-lime {
  background-color: #a4f5c7;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-lime.bg-indent {
  border-left: rem(5px) solid #01FF70;
}

/* line 102, ../sass/_colors.scss */
.bg-yellow {
  background-color: #f5eaa3;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-yellow.bg-indent {
  border-left: rem(5px) solid #FFDC00;
}

/* line 102, ../sass/_colors.scss */
.bg-orange {
  background-color: #f8d7bc;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-orange.bg-indent {
  border-left: rem(5px) solid #FF851B;
}

/* line 102, ../sass/_colors.scss */
.bg-red {
  background-color: #fad6d4;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-red.bg-indent {
  border-left: rem(5px) solid #FF4136;
}

/* line 102, ../sass/_colors.scss */
.bg-magenta {
  background-color: #eface0;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-magenta.bg-indent {
  border-left: rem(5px) solid #F012BE;
}

/* line 102, ../sass/_colors.scss */
.bg-purple {
  background-color: #dc87e8;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-purple.bg-indent {
  border-left: rem(5px) solid #B10DC9;
}

/* line 102, ../sass/_colors.scss */
.bg-maroon {
  background-color: #d06298;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-maroon.bg-indent {
  border-left: rem(5px) solid #85144B;
}

/* line 102, ../sass/_colors.scss */
.bg-white {
  background-color: white;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-white.bg-indent {
  border-left: rem(5px) solid #FFF;
}

/* line 102, ../sass/_colors.scss */
.bg-gray {
  background-color: #a2a2a2;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-gray.bg-indent {
  border-left: rem(5px) solid #555555;
}

/* line 102, ../sass/_colors.scss */
.bg-silver {
  background-color: white;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-silver.bg-indent {
  border-left: rem(5px) solid #eeeeee;
}

/* line 102, ../sass/_colors.scss */
.bg-black {
  background-color: #6f6f6f;
  padding: rem(15px);
}
/* line 105, ../sass/_colors.scss */
.bg-black.bg-indent {
  border-left: rem(5px) solid #222;
}

/*
-----------------------
CUSTOM TEXT/LINK COLORS
-----------------------
*/
/* line 119, ../sass/_colors.scss */
.text-navy, a.text-navy {
  color: #001F3F !important;
}

/* line 119, ../sass/_colors.scss */
.text-blue, a.text-blue {
  color: #0074D9 !important;
}

/* line 119, ../sass/_colors.scss */
.text-cyan, a.text-cyan {
  color: #7FDBFF !important;
}

/* line 119, ../sass/_colors.scss */
.text-teal, a.text-teal {
  color: #39CCCC !important;
}

/* line 119, ../sass/_colors.scss */
.text-olive, a.text-olive {
  color: #3D9970 !important;
}

/* line 119, ../sass/_colors.scss */
.text-green, a.text-green {
  color: #2ECC40 !important;
}

/* line 119, ../sass/_colors.scss */
.text-lime, a.text-lime {
  color: #01FF70 !important;
}

/* line 119, ../sass/_colors.scss */
.text-yellow, a.text-yellow {
  color: #FFDC00 !important;
}

/* line 119, ../sass/_colors.scss */
.text-orange, a.text-orange {
  color: #FF851B !important;
}

/* line 119, ../sass/_colors.scss */
.text-red, a.text-red {
  color: #FF4136 !important;
}

/* line 119, ../sass/_colors.scss */
.text-magenta, a.text-magenta {
  color: #F012BE !important;
}

/* line 119, ../sass/_colors.scss */
.text-purple, a.text-purple {
  color: #B10DC9 !important;
}

/* line 119, ../sass/_colors.scss */
.text-maroon, a.text-maroon {
  color: #85144B !important;
}

/* line 119, ../sass/_colors.scss */
.text-white, a.text-white {
  color: #FFF !important;
}

/* line 119, ../sass/_colors.scss */
.text-gray, a.text-gray {
  color: #555555 !important;
}

/* line 119, ../sass/_colors.scss */
.text-silver, a.text-silver {
  color: #eeeeee !important;
}

/* line 119, ../sass/_colors.scss */
.text-black, a.text-black {
  color: #222 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-navy:hover, a.text-navy:focus {
  color: #000102 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-blue:hover, a.text-blue:focus {
  color: #00539c !important;
}

/* line 125, ../sass/_colors.scss */
a.text-cyan:hover, a.text-cyan:focus {
  color: #42caff !important;
}

/* line 125, ../sass/_colors.scss */
a.text-teal:hover, a.text-teal:focus {
  color: #299f9f !important;
}

/* line 125, ../sass/_colors.scss */
a.text-olive:hover, a.text-olive:focus {
  color: #2c6d50 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-green:hover, a.text-green:focus {
  color: #239a30 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-lime:hover, a.text-lime:focus {
  color: #00c355 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-yellow:hover, a.text-yellow:focus {
  color: #c2a700 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-orange:hover, a.text-orange:focus {
  color: #dd6700 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-red:hover, a.text-red:focus {
  color: #f80e00 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-magenta:hover, a.text-magenta:focus {
  color: #b90c92 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-purple:hover, a.text-purple:focus {
  color: #7e0990 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-maroon:hover, a.text-maroon:focus {
  color: #500c2d !important;
}

/* line 125, ../sass/_colors.scss */
a.text-white:hover, a.text-white:focus {
  color: #e0e0e0 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-gray:hover, a.text-gray:focus {
  color: #373737 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-silver:hover, a.text-silver:focus {
  color: #d0d0d0 !important;
}

/* line 125, ../sass/_colors.scss */
a.text-black:hover, a.text-black:focus {
  color: #030303 !important;
}

/*
-----------------------
  CUSTOM BADGE COLORS
-----------------------
*/
/* line 137, ../sass/_colors.scss */
.badge-navy {
  background-color: "navy";
}

/* line 137, ../sass/_colors.scss */
.badge-blue {
  background-color: "blue";
}

/* line 137, ../sass/_colors.scss */
.badge-cyan {
  background-color: "cyan";
}

/* line 137, ../sass/_colors.scss */
.badge-teal {
  background-color: "teal";
}

/* line 137, ../sass/_colors.scss */
.badge-olive {
  background-color: "olive";
}

/* line 137, ../sass/_colors.scss */
.badge-green {
  background-color: "green";
}

/* line 137, ../sass/_colors.scss */
.badge-lime {
  background-color: "lime";
}

/* line 137, ../sass/_colors.scss */
.badge-yellow {
  background-color: "yellow";
}

/* line 137, ../sass/_colors.scss */
.badge-orange {
  background-color: "orange";
}

/* line 137, ../sass/_colors.scss */
.badge-red {
  background-color: "red";
}

/* line 137, ../sass/_colors.scss */
.badge-magenta {
  background-color: "magenta";
}

/* line 137, ../sass/_colors.scss */
.badge-purple {
  background-color: "purple";
}

/* line 137, ../sass/_colors.scss */
.badge-maroon {
  background-color: "maroon";
}

/* line 137, ../sass/_colors.scss */
.badge-white {
  background-color: "white";
}

/* line 137, ../sass/_colors.scss */
.badge-gray {
  background-color: "gray";
}

/* line 137, ../sass/_colors.scss */
.badge-silver {
  background-color: "silver";
}

/* line 137, ../sass/_colors.scss */
.badge-black {
  background-color: "black";
}

/*
-----------------------
  CUSTOM LABEL COLORS
-----------------------
*/
/* line 150, ../sass/_colors.scss */
.label-navy {
  background-color: #001F3F;
}

/* line 154, ../sass/_colors.scss */
a.label-navy:hover, a.label-navy:focus {
  background-color: #00060c;
}

/* line 150, ../sass/_colors.scss */
.label-blue {
  background-color: #0074D9;
}

/* line 154, ../sass/_colors.scss */
a.label-blue:hover, a.label-blue:focus {
  background-color: #0059a6;
}

/* line 150, ../sass/_colors.scss */
.label-cyan {
  background-color: #7FDBFF;
}

/* line 154, ../sass/_colors.scss */
a.label-cyan:hover, a.label-cyan:focus {
  background-color: #4ccdff;
}

/* line 150, ../sass/_colors.scss */
.label-teal {
  background-color: #39CCCC;
}

/* line 154, ../sass/_colors.scss */
a.label-teal:hover, a.label-teal:focus {
  background-color: #2ba7a7;
}

/* line 150, ../sass/_colors.scss */
.label-olive {
  background-color: #3D9970;
}

/* line 154, ../sass/_colors.scss */
a.label-olive:hover, a.label-olive:focus {
  background-color: #2e7555;
}

/* line 150, ../sass/_colors.scss */
.label-green {
  background-color: #2ECC40;
}

/* line 154, ../sass/_colors.scss */
a.label-green:hover, a.label-green:focus {
  background-color: #25a233;
}

/* line 150, ../sass/_colors.scss */
.label-lime {
  background-color: #01FF70;
}

/* line 154, ../sass/_colors.scss */
a.label-lime:hover, a.label-lime:focus {
  background-color: #00cd5a;
}

/* line 150, ../sass/_colors.scss */
.label-yellow {
  background-color: #FFDC00;
}

/* line 154, ../sass/_colors.scss */
a.label-yellow:hover, a.label-yellow:focus {
  background-color: #ccb000;
}

/* line 150, ../sass/_colors.scss */
.label-orange {
  background-color: #FF851B;
}

/* line 154, ../sass/_colors.scss */
a.label-orange:hover, a.label-orange:focus {
  background-color: #e76b00;
}

/* line 150, ../sass/_colors.scss */
.label-red {
  background-color: #FF4136;
}

/* line 154, ../sass/_colors.scss */
a.label-red:hover, a.label-red:focus {
  background-color: #ff1103;
}

/* line 150, ../sass/_colors.scss */
.label-magenta {
  background-color: #F012BE;
}

/* line 154, ../sass/_colors.scss */
a.label-magenta:hover, a.label-magenta:focus {
  background-color: #c30c9a;
}

/* line 150, ../sass/_colors.scss */
.label-purple {
  background-color: #B10DC9;
}

/* line 154, ../sass/_colors.scss */
a.label-purple:hover, a.label-purple:focus {
  background-color: #870a99;
}

/* line 150, ../sass/_colors.scss */
.label-maroon {
  background-color: #85144B;
}

/* line 154, ../sass/_colors.scss */
a.label-maroon:hover, a.label-maroon:focus {
  background-color: #590d32;
}

/* line 150, ../sass/_colors.scss */
.label-white {
  background-color: #FFF;
}

/* line 154, ../sass/_colors.scss */
a.label-white:hover, a.label-white:focus {
  background-color: #e6e6e6;
}

/* line 150, ../sass/_colors.scss */
.label-gray {
  background-color: #555555;
}

/* line 154, ../sass/_colors.scss */
a.label-gray:hover, a.label-gray:focus {
  background-color: #3c3c3c;
}

/* line 150, ../sass/_colors.scss */
.label-silver {
  background-color: #eeeeee;
}

/* line 154, ../sass/_colors.scss */
a.label-silver:hover, a.label-silver:focus {
  background-color: #d5d5d5;
}

/* line 150, ../sass/_colors.scss */
.label-black {
  background-color: #222;
}

/* line 154, ../sass/_colors.scss */
a.label-black:hover, a.label-black:focus {
  background-color: #090909;
}

/*
-----------------------
     CUSTOM STYLES
-----------------------
*/
/*
TEMPLATE 1
---------------------
*/
/*
TEMPLATE 2
---------------------
*/
/*
TEMPLATE 3
---------------------
*/
/*
TEMPLATE 4
---------------------
*/
/*
TEMPLATE 5
---------------------
*/
/*
TEMPLATE 6
---------------------
*/
/*
TEMPLATE 7
---------------------
*/
/*
TEMPLATE 8 (MOBILE FIRST)
---------------------
*/
/*
CUSTOM TEMPLATE
---------------------
*/
/*
-----------------------
   UTILTIES/FEATURES
-----------------------
*/
/* line 4, ../sass/_utilities.scss */
.float-left {
  float: left  !important;
}

/* line 5, ../sass/_utilities.scss */
.float-right {
  float: right !important;
}

/* line 7, ../sass/_utilities.scss */
.align-left {
  text-align: left   !important;
}

/* line 8, ../sass/_utilities.scss */
.align-center {
  text-align: center !important;
}

/* line 9, ../sass/_utilities.scss */
.align-right {
  text-align: right  !important;
}

/* line 14, ../sass/_utilities.scss */
.ma0 {
  margin: 0   !important;
}

/* line 15, ../sass/_utilities.scss */
.ma1 {
  margin: 1em !important;
}

/* line 16, ../sass/_utilities.scss */
.ma2 {
  margin: 2em !important;
}

/* line 17, ../sass/_utilities.scss */
.mt0 {
  margin-top: 0   !important;
}

/* line 18, ../sass/_utilities.scss */
.mt1 {
  margin-top: 1em !important;
}

/* line 19, ../sass/_utilities.scss */
.mt2 {
  margin-top: 2em !important;
}

/* line 20, ../sass/_utilities.scss */
.mb0 {
  margin-bottom: 0   !important;
}

/* line 21, ../sass/_utilities.scss */
.mb1 {
  margin-bottom: 1em !important;
}

/* line 22, ../sass/_utilities.scss */
.mb2 {
  margin-bottom: 2em !important;
}

/* line 23, ../sass/_utilities.scss */
.ml1 {
  margin-left: 1em !important;
}

/* line 24, ../sass/_utilities.scss */
.ml2 {
  margin-left: 2em !important;
}

/* line 25, ../sass/_utilities.scss */
.mr1 {
  margin-right: 1em !important;
}

/* line 26, ../sass/_utilities.scss */
.mr2 {
  margin-right: 2em !important;
}

/* line 28, ../sass/_utilities.scss */
.pa0 {
  padding: 0   !important;
}

/* line 29, ../sass/_utilities.scss */
.pa1 {
  padding: 1em !important;
}

/* line 30, ../sass/_utilities.scss */
.pa2 {
  padding: 2em !important;
}

/* line 31, ../sass/_utilities.scss */
.pt0 {
  padding-top: 0   !important;
}

/* line 32, ../sass/_utilities.scss */
.pt1 {
  padding-top: 1em !important;
}

/* line 33, ../sass/_utilities.scss */
.pt2 {
  padding-top: 2em !important;
}

/* line 34, ../sass/_utilities.scss */
.pb0 {
  padding-bottom: 0   !important;
}

/* line 35, ../sass/_utilities.scss */
.pb1 {
  padding-bottom: 1em !important;
}

/* line 36, ../sass/_utilities.scss */
.pb2 {
  padding-bottom: 2em !important;
}

/* line 37, ../sass/_utilities.scss */
.pl1 {
  padding-left: 1em !important;
}

/* line 38, ../sass/_utilities.scss */
.pl2 {
  padding-left: 2em !important;
}

/* line 39, ../sass/_utilities.scss */
.pr1 {
  padding-right: 1em !important;
}

/* line 40, ../sass/_utilities.scss */
.pr2 {
  padding-right: 2em !important;
}

/* line 46, ../sass/_utilities.scss */
p.xlarge, span.xlarge {
  font-size: 17.5px;
  line-height: 1.96;
}
/* line 50, ../sass/_utilities.scss */
p.large, span.large {
  font-size: 15.9992px;
  line-height: 1.68;
}
/* line 54, ../sass/_utilities.scss */
p.small, span.small {
  font-size: 11.998px;
}

/* line 60, ../sass/_utilities.scss */
.mega {
  font-size: 6em;
}
@media screen and (max-width: 768px) {
  /* line 60, ../sass/_utilities.scss */
  .mega {
    font-size: 3.5em;
  }
}

/* line 66, ../sass/_utilities.scss */
.giga {
  font-size: 8em;
}
@media screen and (max-width: 768px) {
  /* line 66, ../sass/_utilities.scss */
  .giga {
    font-size: 4em;
  }
}

/* line 72, ../sass/_utilities.scss */
.italic {
  font-style: italic;
}

/* line 75, ../sass/_utilities.scss */
.bold {
  font-weight: 700;
}

/* line 78, ../sass/_utilities.scss */
.light {
  font-weight: 300;
}

/* line 81, ../sass/_utilities.scss */
.semi-bold {
  font-weight: 600;
}

/* line 84, ../sass/_utilities.scss */
.normal {
  font-weight: 400;
}

/* line 87, ../sass/_utilities.scss */
.spacing {
  letter-spacing: 3px;
  word-spacing: 5px;
}

/* line 91, ../sass/_utilities.scss */
.underline {
  text-decoration: underline;
}

/* line 94, ../sass/_utilities.scss */
.caps {
  text-transform: uppercase;
}

/* line 97, ../sass/_utilities.scss */
.fancy:before {
  content: "\274B  ";
  font-size: inherit;
  color: inherit;
}

/* line 102, ../sass/_utilities.scss */
.req:after {
  content: " *";
  color: #FF4136;
}

/* line 106, ../sass/_utilities.scss */
.arrow:after {
  content: " \279E";
}

/* line 111, ../sass/_utilities.scss */
.utf8 {
  font-family: "Lucida Grande", "Arial Unicode MS", sans-serif;
}

/* line 112, ../sass/_utilities.scss */
.mono {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 113, ../sass/_utilities.scss */
.sans-serif {
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 114, ../sass/_utilities.scss */
.serif {
  font-family: "Roboto Slab", "Georgia", "Times", "Times New Roman", serif;
}

/* line 1, ../sass/_price.scss */
div.price-table {
  margin: 20px 0;
}
/* line 3, ../sass/_price.scss */
div.price-table ul {
  list-style: none;
  padding: 0;
}
/* line 7, ../sass/_price.scss */
div.price-table .columns {
  padding: 0;
  margin: 0;
}
/* line 11, ../sass/_price.scss */
div.price-table .three-col {
  width: 33.3334%;
}
/* line 14, ../sass/_price.scss */
div.price-table .four-col {
  width: 25%;
}
/* line 17, ../sass/_price.scss */
div.price-table .two-col {
  width: 50%;
}
/* line 20, ../sass/_price.scss */
div.price-table .three-col, div.price-table .two-col, div.price-table .four-col {
  float: left;
  min-height: 1px;
}
@media screen and (max-width: 768px) {
  /* line 20, ../sass/_price.scss */
  div.price-table .three-col, div.price-table .two-col, div.price-table .four-col {
    width: 100%;
  }
}
/* line 27, ../sass/_price.scss */
div.price-table ul.pricing {
  text-align: center;
  border: 1px solid #bababa;
  margin-bottom: 0;
}
/* line 32, ../sass/_price.scss */
div.price-table li.title {
  background: #ccc;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
/* line 38, ../sass/_price.scss */
div.price-table li.price {
  background: #f2f2f2;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
}
/* line 44, ../sass/_price.scss */
div.price-table li.desc {
  padding: 15px;
  background: #FFF;
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid #bababa;
}
/* line 51, ../sass/_price.scss */
div.price-table li.bullet {
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #bababa;
}
/* line 57, ../sass/_price.scss */
div.price-table li.choose {
  background: #f2f2f2;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  /* line 62, ../sass/_price.scss */
  div.price-table ul.first-price {
    border-right: 0;
  }
  /* line 65, ../sass/_price.scss */
  div.price-table ul.last-price {
    border-left: 0;
  }
}
/* line 69, ../sass/_price.scss */
div.price-table div.recommended {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

/* line 1, ../sass/_captions.scss */
.caption {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  color: #FFF;
  z-index: 101;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
  top: 0;
}

/* line 13, ../sass/_captions.scss */
.caption h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 17, ../sass/_captions.scss */
.fade-caption {
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 1em;
}

/* line 23, ../sass/_captions.scss */
.fade-caption p {
  line-height: 1.16667rem;
}

/* line 26, ../sass/_captions.scss */
.gallery-item {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}
/* line 30, ../sass/_captions.scss */
.gallery-item img {
  max-width: 100%;
}

/* line 34, ../sass/_captions.scss */
.gallery-item:hover .fade-caption {
  opacity: 1;
}

/* line 1, ../sass/_form.scss */
.ss-q-help {
  font-size: 14px;
  font-style: italic;
  color: #555555;
}

/* line 6, ../sass/_form.scss */
.ss-q-title {
  margin: rem(8px) 0 rem(4px);
}

/* line 9, ../sass/_form.scss */
.ss-choice-label {
  font-weight: normal;
}

/* line 12, ../sass/_form.scss */
.required-message {
  display: none;
}

/* line 15, ../sass/_form.scss */
.goog-inline-block {
  display: inline-block;
}

/* line 18, ../sass/_form.scss */
.ss-required-asterisk {
  color: #FF4136;
}

/* line 3, ../sass/_nav.scss */
.nav > li > a {
  color: #39CCCC;
  background-color: #FFF;
}

/* line 7, ../sass/_nav.scss */
.nav > li > a:hover,
.nav > li > a:focus {
  color: #FFF;
  background-color: #39CCCC;
}

/* line 12, ../sass/_nav.scss */
.nav-tabs {
  border-bottom: 1px solid #eeeeee;
}

/* line 15, ../sass/_nav.scss */
.nav-tabs > li > a {
  border-bottom: 0;
}

/* line 18, ../sass/_nav.scss */
.nav-tabs > li > a:hover {
  border-color: transparent;
  border-bottom: 0;
}

/* line 22, ../sass/_nav.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #3c3c3c;
  background-color: #FFF;
  border: 1px solid #eeeeee;
  border-bottom-color: transparent;
}

/* line 30, ../sass/_nav.scss */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #39CCCC;
}

/* line 41, ../sass/_nav.scss */
.navbar-default {
  background-color: #eeeeee;
  border-color: #c8c8c8;
}

/* line 46, ../sass/_nav.scss */
.navbar-default .navbar-brand {
  color: #222;
}

/* line 50, ../sass/_nav.scss */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3c3c3c;
  background-color: transparent;
}

/* line 56, ../sass/_nav.scss */
.navbar-default .navbar-text {
  color: #484848;
}

/* line 59, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #555555;
  background-color: #eeeeee;
}

/* line 63, ../sass/_nav.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2f2f2f;
  background-color: #eeeeee;
}

/* line 68, ../sass/_nav.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #626262;
  background-color: #c8c8c8;
}

/* line 75, ../sass/_nav.scss */
.navbar-default .navbar-toggle {
  border-color: #afafaf;
}

/* line 78, ../sass/_nav.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c8c8c8;
}

/* line 82, ../sass/_nav.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #a2a2a2;
}

/* line 85, ../sass/_nav.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c8c8c8;
}

/* line 90, ../sass/_nav.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #626262;
  background-color: #c8c8c8;
}

/* line 97, ../sass/_nav.scss */
.navbar-default .navbar-link {
  color: #555555;
}

/* line 100, ../sass/_nav.scss */
.navbar-default .navbar-link:hover {
  color: #2f2f2f;
}

/* line 103, ../sass/_nav.scss */
.navbar-default .btn-link {
  color: #555555;
}

/* line 106, ../sass/_nav.scss */
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #414141;
}

/* line 1, ../sass/_map.scss */
#map-canvas {
  width: 100%;
  height: 400px;
  background-color: #ccc;
}
